Repository dynamics365ninja/d365fo-mcp-server: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

.azure-pipelines/azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Prepare
    displayName: Prepare Environment
    jobs:
    - job: PrepareJob
      displayName: Setup and Download Standard Metadata
      steps:
      - checkout: self
        displayName: Checkout repository
      - task: NodeTool@0
  ...

.azure-pipelines/d365fo-mcp-data-build-custom.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ProcessMetadata
    displayName: Process Metadata
    jobs:
    - job: ProcessJob
      displayName: Extract, Build, and Upload
      steps:
      - checkout: self
        displayName: Checkout D365FO source code
        clean: true
      - checkout: mcpServer
  ...

.azure-pipelines/d365fo-mcp-data-quick.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ProcessMetadata
    displayName: Process Metadata
    jobs:
    - job: ProcessJob
      displayName: Extract, Build, and Upload
      steps:
      - checkout: mcpServer
        displayName: Checkout MCP Server code from GitHub
        clean: true
  ...

.azure-pipelines/d365fo-mcp-data.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ProcessAll
    displayName: Process Custom Metadata
    jobs:
    - job: ProcessJob
      displayName: Download → Extract → Build → Upload → Restart
      steps:
      - checkout: self
        displayName: Checkout D365FO source code
        path: d365fo-source
  ...

fix: preserve method position in AddMethod (update in-place instead of remove+append)
  bridge/D365MetadataBridge/Services/MetadataWriteService.cs
Due: none

fix(env): update D365FO_PACKAGE_PATH comments and remove legacy PACKAGES_PATH alias
  .env.example
Due: none

fix(add-field): correctly wire fieldBaseType to bridge switch + fix replace-all-fields type mapping
  bridge/D365MetadataBridge/Services/MetadataWriteService.cs
  src/tools/modifyD365File.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: EDT type resolution for enum EDTs and missing ExtendedDataType on add-field (#431)
  src/tools/generateSmartReport.ts
  src/tools/generateSmartTable.ts
  src/tools/modifyD365File.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: xpp-knowledge empty topic lists all entries; remove unused deps
  package-lock.json
  package.json
  src/tools/xppKnowledge.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: prevent build_d365fo_project from hanging after MCP server restart
  src/tools/buildProject.ts
  src/utils/operationLocks.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: method in-place edit, stale build lock, form control override
  .github/copilot-instructions.md
  bridge/D365MetadataBridge/Services/MetadataWriteService.cs
  src/prompts/systemInstructions.ts
  src/server/mcpServer.ts
  src/tools/buildProject.ts
  src/tools/modifyD365File.ts
  tests/tools/form-control-method-inplace.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: skip field label when EDT has label; never auto-build - ask user to build manually
  .github/copilot-instructions.md
  src/prompts/systemInstructions.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

add multi-instance support with centralized loadEnv and management scripts
  .gitignore
  add-instance.ps1
  instances/.env.template
  rebuild-instance.ps1
  run-instance.ps1
  scripts/azure-blob-manager.ts
  scripts/build-database.ts
  scripts/build-fts.ts
  scripts/extract-metadata.ts
  src/index.ts
  src/utils/loadEnv.ts
  src/utils/metadataResolver.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: pass labelFileId into SQL for both FTS and LIKE label search paths
  src/metadata/symbolIndex.ts
  src/tools/searchLabels.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(multi-instance): audit and improve PR #445 changes
  docs/MCP_CONFIG.md
  docs/QUICK_START.md
  docs/SETUP.md
  instances/.env.template
  instances/add-instance.ps1
  instances/rebuild-instance.ps1
  instances/run-instance.ps1
  src/utils/loadEnv.ts
  src/utils/metadataResolver.ts
  tests/utils/loadEnv.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: resolve 9 bugs found in audit (SQLite WAL, transport, security, paths)
  bridge/D365MetadataBridge/Services/MetadataWriteService.cs
  src/index.ts
  src/metadata/symbolIndex.ts
  src/server/mcpServer.ts
  src/server/transport.ts
  src/tools/buildProject.ts
  src/tools/modifyD365File.ts
  src/tools/sysTestRunner.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: change PACKAGE_PATH to D365FO_PACKAGE_PATH in metadata extractor
  scripts/extract-metadata.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data.yml

Mandate dryRun review + Git checkpoint workflow for VS 2022
  .github/copilot-instructions.md
  src/prompts/systemInstructions.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Expand X++ select rules: in-operator types, crossCompany placement
  .github/copilot-instructions.md
  src/prompts/systemInstructions.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: normalize label locale casing to fix FTS index excluding Microsoft package labels
  src/metadata/labelParser.ts
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(bridge): improve error handling in field operations by returning error messages
  bridge/D365MetadataBridge/Services/MetadataWriteService.cs
  src/bridge/bridgeAdapter.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(bp-check): fix run_bp_check for UDE environments
  bridge/D365MetadataBridge/Program.cs
  src/tools/runBpCheck.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(bp-check): make projectPath optional in UDE environments
  src/tools/runBpCheck.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

docs: update architecture diagrams and package-lock
  docs/img/solution-architecture-diagram-deployment-modes.png
  docs/img/solution-architecture-diagram.png
  package-lock.json
Due: none

Fix analysis-without-write workflow gap and harden write tools
  .env.example
  .github/copilot-instructions.md
  docs/SETUP.md
  src/bridge/bridgeClient.ts
  src/prompts/systemInstructions.ts
  src/server/mcpServer.ts
  src/tools/createD365File.ts
  src/tools/modifyD365File.ts
  tests/tools/file-ops.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(naming): normalise bare class-extension names to _Extension form
  src/tools/createD365File.ts
  tests/tools/file-ops.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Audit follow-up: isError consistency, central error net, docs sync
  docs/MCP_TOOLS.md
  docs/proposals/bridge-resilience.md
  src/tools/dbSync.ts
  src/tools/edtInfo.ts
  src/tools/generateD365Xml.ts
  src/tools/getLabelInfo.ts
  src/tools/renameLabel.ts
  src/tools/securityArtifactInfo.ts
  src/tools/toolHandler.ts
  src/tools/undoLastModification.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

test(naming): add case for model-name style in class-extension naming validation
  docs/MCP_TOOLS.md
  tests/tools/file-ops.test.ts
Due: none

fix: forward-merge PR #507 .env.template sections into PR #508 branch
  instances/.env.template
Due: none

test(buildProject): fix tests broken by new PR messages and appendFile mock reset
  tests/tools/buildProject.test.ts
Due: none

fix(labels): sort label IDs with case-insensitive ordinal collation
  src/tools/createLabel.ts
  tests/tools/labels.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: run form-pattern gate before platform/drive check
  src/tools/createD365File.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: add missing header to Capabilities table in README
  README.md
Due: none

fix: update path to system instructions in copilot documentation
  .github/copilot-instructions.md
Due: none

fix(quick-start): update environment variables for MCP server configuration
  docs/QUICK_START.md
Due: none

feat: add verbatim naming style that uses EXTENSION_PREFIX/SUFFIX literally
  CLAUDE.template.md
  docs/CUSTOM_EXTENSIONS.md
  src/tools/toolHandler.ts
  src/utils/modelClassifier.ts
  tests/utils/applyObjectPrefix.test.ts
  tests/utils/modelClassifier.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(modify): advertise all modify-operation params and align handler arg names
  src/server/mcpServer.ts
  src/tools/modifyD365File.ts
  tests/utils/toolInventory.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: scaffold/clone residue cleanup + tool-contract & validator fixes
  src/server/mcpServer.ts
  src/tools/createD365File.ts
  src/tools/generateSmartForm.ts
  src/tools/labels.ts
  src/tools/modifyD365File.ts
  src/tools/objectPatterns.ts
  src/utils/formCloner.ts
  src/utils/pathContainment.ts
  src/validation/formPatternValidator.ts
  tests/tools/code-generation.test.ts
  tests/tools/labels.test.ts
  tests/tools/mergedDispatchers.test.ts
  tests/utils/formCloner.test.ts
  tests/validation/formPatternValidator.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

test: genericize internal model prefix (Asl/ASL) in pre-existing fixtures
  tests/tools/code-generation.test.ts
  tests/tools/edt-resolution.test.ts
  tests/utils/edtExtensionValidator.test.ts
  tests/utils/forceProject.test.ts
  tests/utils/formCloner.test.ts
  tests/utils/xppDocGen.test.ts
Due: none

feat: bulk labels, clone pattern-mismatch pre-check, generic-word EDT guard
  src/server/mcpServer.ts
  src/tools/createLabel.ts
  src/tools/generateSmartForm.ts
  src/tools/generateSmartTable.ts
  tests/tools/clonePatternMismatch.test.ts
  tests/tools/createLabel-bulk.test.ts
  tests/tools/edt-resolution.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

@ feat: context pipeline (Phase 1 + 2) — proactive grounded context
  src/resources/classResource.ts
  src/resources/index.ts
  src/resources/workspaceResource.ts
  src/server/mcpServer.ts
  src/tools/prepareChange.ts
  src/tools/prepareCreate.ts
  src/tools/toolHandler.ts
  src/workspace/contextRanker.ts
  src/workspace/contextSnapshot.ts
  tests/workspace/contextRanker.test.ts
  tests/workspace/contextSnapshot.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: context pipeline (Phase 1 + 2) — proactive grounded context
  src/resources/classResource.ts
  src/resources/index.ts
  src/resources/workspaceResource.ts
  src/server/mcpServer.ts
  src/tools/prepareChange.ts
  src/tools/prepareCreate.ts
  src/tools/toolHandler.ts
  src/workspace/contextRanker.ts
  src/workspace/contextSnapshot.ts
  tests/workspace/contextRanker.test.ts
  tests/workspace/contextSnapshot.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: context pipeline (Phase 3a) — live freshness + active object
  src/resources/index.ts
  src/tools/updateSymbolIndex.ts
  src/workspace/contextSnapshot.ts
  src/workspace/workspaceScanner.ts
  tests/workspace/contextSnapshot.test.ts
  tests/workspace/workspaceScanner.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Path conditions:
  .azure-pipelines/azure-pipelines.yml: any of: src, scripts, azure-pipelines.yml
  .azure-pipelines/d365fo-mcp-data-build-custom.yml: any of: src, .azure-pipelines/d365fo-mcp-data-quick.yml
  .azure-pipelines/d365fo-mcp-data-quick.yml: any of: src, .azure-pipelines/d365fo-mcp-data-quick.yml
  .azure-pipelines/d365fo-mcp-data.yml: any of: src, scripts, d365fo-mcp-data.yml
