Repository dynamics365ninja/d365fo-mcp-server: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Path conditions:
  .azure-pipelines/azure-pipelines.yml: any of: src, scripts, azure-pipelines.yml
  .azure-pipelines/d365fo-mcp-data-quick.yml: any of: src, .azure-pipelines/d365fo-mcp-data-quick.yml
  .azure-pipelines/d365fo-mcp-data.yml: any of: src, scripts, d365fo-mcp-data.yml

fix: copy NuGet config files to correct path in platform upgrade pipeline
  .azure-pipelines/d365fo-mcp-data-platform-upgrade.yml
Due: none

fix: correct NugetConfigsPath to point to nuget-config directory
  .azure-pipelines/d365fo-mcp-data-platform-upgrade.yml
Due: none

fix: add workingDirectory to all npm commands in platform upgrade pipeline
  .azure-pipelines/d365fo-mcp-data-platform-upgrade.yml
Due: none

fix: use absolute Windows paths for metadata extraction in platform upgrade
  .azure-pipelines/d365fo-mcp-data-platform-upgrade.yml
Due: none

feat: add verification step to display NuGet packages structure
  .azure-pipelines/d365fo-mcp-data-platform-upgrade.yml
Due: none

refactor: show directory tree structure instead of file counts
  .azure-pipelines/d365fo-mcp-data-platform-upgrade.yml
Due: none

Fix pipeline directory structure and improve folder visualization
  .azure-pipelines/d365fo-mcp-data-platform-upgrade.yml
Due: none

Fix NuGet metadata extraction to handle all packages case-insensitively
  .azure-pipelines/d365fo-mcp-data-platform-upgrade.yml
Due: none

chore: update dependencies to latest versions
  package-lock.json
  package.json
Due: none

Add type filtering feature for search tool
  README.md
  docs/FILTERING.md
  src/cache/redisCache.ts
  src/metadata/symbolIndex.ts
  src/server/mcpServer.ts
  src/tools/search.ts
  tests/symbolIndex.test.ts
  tests/tools/search.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Store original XML source paths instead of JSON metadata paths
  src/metadata/symbolIndex.ts
  src/metadata/types.ts
  src/metadata/xmlParser.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Fix xml2js import to use named import instead of namespace import
  package-lock.json
  src/metadata/xmlParser.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: Improve metadata extraction and database building
  .env.example
  scripts/build-database.ts
  scripts/extract-metadata.ts
  src/index.ts
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: improve pipeline configuration and fix storage paths
  .azure-pipelines/d365fo-mcp-data-platform-upgrade.yml
  .azure-pipelines/d365fo-mcp-data-quick.yml
  scripts/azure-blob-manager.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Update pipeline to dynamically display extraction mode and update documentation
  .azure-pipelines/d365fo-mcp-data-quick.yml
  docs/PIPELINES.md
Due: .azure-pipelines/d365fo-mcp-data-quick.yml

Remove unnecessary d365fo-mcp-data.yml pipeline and update documentation
  .azure-pipelines/d365fo-mcp-data.yml
  docs/PIPELINES.md
Due: none

Fix: Add automatic database download from Azure Blob Storage on startup
  src/index.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Fix: Enable Express trust proxy for Azure App Service
  src/index.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Fix: Add custom keyGenerator for rate limiter to handle Azure proxy IP format
  src/middleware/rateLimiter.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Fix: Parameter name mismatch in xpp_completion tool and add result logging
  src/server/transport.ts
  src/tools/completion.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Fix: Remove custom keyGenerator to resolve IPv6 validation error
  src/middleware/rateLimiter.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Fix: Correct authRateLimiter syntax error
  src/middleware/rateLimiter.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Remove xpp_ prefix from tool names for better orchestrator recognition
  README.md
  docs/ARCHITECTURE.md
  docs/CUSTOM_EXTENSIONS.md
  docs/FILTERING.md
  docs/USAGE_EXAMPLES.md
  src/server/mcpServer.ts
  src/server/transport.ts
  src/tools/toolHandler.ts
  tests/server/transport.test.ts
  tests/tools/classInfo.test.ts
  tests/tools/search.test.ts
  tests/tools/tableInfo.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Fix tool name references in logs and scripts
  docs/SETUP.md
  scripts/test-mcp.ps1
  src/index.ts
  src/tools/xppTools.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: Enhanced indexing with semantic metadata for better GitHub Copilot integration
  docs/ARCHITECTURE.md
  src/metadata/enhancedParser.ts
  src/metadata/symbolIndex.ts
  src/metadata/types.ts
  src/metadata/xmlParser.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Fix method extraction: parseMethodEnhanced now uses passed XppMethodInfo parameter
  scripts/debug-parser.ts
  src/metadata/enhancedParser.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Rebuild USAGE_EXAMPLES.md with focus on code completion
  docs/USAGE_EXAMPLES.md
Due: none

Update pipeline configuration
  .azure-pipelines/d365fo-mcp-data-standard-extract.yml
Due: none

Add build pipelines for custom and standard metadata extraction; update platform upgrade pipeline for improved processing
  .azure-pipelines/d365fo-mcp-data-build-custom.yml
  .azure-pipelines/d365fo-mcp-data-build-standard.yml
  .azure-pipelines/d365fo-mcp-data-platform-upgrade.yml
  docs/PIPELINES.md
  scripts/extract-metadata.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data.yml

Refactor pipeline configurations to use dynamic package directory names and improve metadata extraction script for case-insensitive directory resolution
  .azure-pipelines/d365fo-mcp-data-build-standard.yml
  .azure-pipelines/d365fo-mcp-data-platform-upgrade.yml
  scripts/extract-metadata.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data.yml

Refactor model handling to eliminate static standard models configuration; introduce dynamic classification for custom and standard models based on environment variables
  config/standard-models.json
  docs/CUSTOM_EXTENSIONS.md
  docs/PIPELINES.md
  scripts/azure-blob-manager.ts
  scripts/build-database.ts
  scripts/extract-metadata.ts
  src/metadata/symbolIndex.ts
  src/utils/modelClassifier.ts
  tests/setup.ts
  tests/utils/modelClassifier.test.ts
  vitest.config.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: optimize blob storage upload with parallel processing
  scripts/azure-blob-manager.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: implement controlled parallel uploads for blob storage to optimize performance
  scripts/azure-blob-manager.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: Support wildcard patterns in CUSTOM_MODELS environment variable
  scripts/extract-metadata.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data.yml

perf: Add parallel download support for blob storage metadata
  scripts/azure-blob-manager.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: Correct branch trigger and update custom models display name in pipeline
  .azure-pipelines/d365fo-mcp-data-build-custom.yml
Due: none

feat: Add Azure Managed Redis setup guide and improve Redis client
  docs/AZURE_MANAGED_REDIS_SETUP.md
  src/cache/redisCache.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: Correct Azure Managed Redis pricing
  docs/AZURE_MANAGED_REDIS_SETUP.md
Due: none

fix: Update all Azure Managed Redis pricing to official rates
  docs/AZURE_MANAGED_REDIS_SETUP.md
Due: none
