Repository dynamics365ninja/d365fo-mcp-server: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

.azure-pipelines/azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Prepare
    displayName: Prepare Environment
    jobs:
    - job: PrepareJob
      displayName: Setup and Download Standard Metadata
      steps:
      - checkout: self
        displayName: Checkout repository
      - task: NodeTool@0
  ...

.azure-pipelines/d365fo-mcp-data-build-custom.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ProcessMetadata
    displayName: Process Metadata
    jobs:
    - job: ProcessJob
      displayName: Extract, Build, and Upload
      steps:
      - checkout: self
        displayName: Checkout D365FO source code
        clean: true
      - checkout: mcpServer
  ...

.azure-pipelines/d365fo-mcp-data-quick.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ProcessMetadata
    displayName: Process Metadata
    jobs:
    - job: ProcessJob
      displayName: Extract, Build, and Upload
      steps:
      - checkout: mcpServer
        displayName: Checkout MCP Server code from GitHub
        clean: true
  ...

.azure-pipelines/d365fo-mcp-data.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ProcessAll
    displayName: Process Custom Metadata
    jobs:
    - job: ProcessJob
      displayName: Download → Extract → Build → Upload → Restart
      steps:
      - checkout: self
        displayName: Checkout D365FO source code
        path: d365fo-source
  ...

feat: enhance AxSecurityPrivilege XML generation with targetObject and objectType properties
  src/metadata/xmlParser.ts
  src/server/mcpServer.ts
  src/tools/codeGen.ts
  src/tools/createD365File.ts
  src/tools/generateD365Xml.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: add Azure pipelines for custom and standard D365FO metadata updates, and deploy infrastructure workflow
  .azure-pipelines/d365fo-mcp-data-extract-and-build-custom.yml
  .azure-pipelines/d365fo-mcp-data-extract-and-build-platform.yml
  .github/workflows/infrastructure.yml
  docs/SETUP_AZURE.md
Due: none

refactor: update Azure setup documentation and improve Redis configuration details
  docs/SETUP_AZURE.md
  infrastructure/main.bicep
  src/utils/modelClassifier.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

ci: opt into Node.js 24 for all GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: none

fix: add WEBSITES_PORT setting for Azure App Service and improve console.warn handling
  infrastructure/main.bicep
  src/index.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: add skipExtraction parameter and azcopy download to data pipeline
  .azure-pipelines/d365fo-mcp-data-extract-and-build-platform.yml
  scripts/azure-blob-manager.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data.yml

docs: update copilot instructions for new modify_d365fo_file operations
  .github/copilot-instructions.md
Due: none

docs: update architecture documentation for Node.js 24 LTS and tool count changes
  docs/ARCHITECTURE.md
Due: none

docs: update quick start instructions and enhance project path detection for D365FO
  README.md
  src/utils/workspaceDetector.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

add Azure deploy button
  README.md
  docs/SETUP_AZURE.md
  infrastructure/azuredeploy.json
Due: none

feat: implement generate_smart_report tool — AI-driven SSRS report generation
  .github/copilot-instructions.md
  src/server/mcpServer.ts
  src/tools/generateSmartReport.ts
  src/tools/toolHandler.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(azuredeploy): update location parameter handling to use resource group's location if empty
  infrastructure/azuredeploy.json
Due: none

fix: skip roots/list in HTTP mode and add class-extension codegen pattern
  src/server/mcpServer.ts
  src/tools/codeGen.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: separate TableType and TableGroup; add labelId no-prefix rule
  .github/copilot-instructions.md
  src/server/mcpServer.ts
  src/tools/createLabel.ts
  src/tools/generateSmartReport.ts
  src/tools/generateSmartTable.ts
  src/utils/smartXmlBuilder.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: add 'replace-code' operation to modifyD365FileTool for in-place code replacement
  .github/copilot-instructions.md
  src/tools/modifyD365File.ts
  tests/tools/file-ops.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Potential fix for code scanning alert no. 12: Inefficient regular expression
  src/utils/xppDocGen.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: improve formatting of AxTableField XML elements for better readability
  src/tools/createD365File.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: restore correct UTF-8 encoding in PIPELINES.md
  docs/PIPELINES.md
Due: none

refactor(xppTools): remove dead createGenerateCodeTool and update GenerateCodeSchema
  src/tools/xppTools.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: enhance Copilot instructions and add IDE context documentation
  .github/copilot-instructions.md
  memory/MEMORY.md
  memory/project_ide_context.md
  src/tools/xppTools.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: add notifications/progress support (forward-compat for Copilot/VS2026)
  src/tools/toolHandler.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: normalize Windows paths in tools to ensure compatibility with POSIX-style paths
  src/tools/findReferences.ts
  src/tools/reviewWorkspaceChanges.ts
  src/tools/toolHandler.ts
  src/tools/undoLastModification.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

bridge: close data gaps for Form, View, Query, EDT, DataEntity, Report readers
  bridge/D365MetadataBridge/Models/Models.cs
  bridge/D365MetadataBridge/Services/MetadataReadService.cs
  src/bridge/bridgeAdapter.ts
  src/bridge/bridgeTypes.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat(bridge): extend write operations to 12 create types + 10 modify types
  src/bridge/bridgeAdapter.ts
  src/bridge/bridgeClient.ts
  src/bridge/bridgeTypes.ts
  src/bridge/index.ts
  src/tools/createD365File.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(bridge): fix 4 C# compile errors against real D365FO SDK
  bridge/D365MetadataBridge/Services/MetadataWriteService.cs
Due: none

feat(bridge): Phase 6 — bridge 6 more tools (security, menu items, table extensions, completion, CoC xref, event xref)
  bridge/D365MetadataBridge/Protocol/RequestDispatcher.cs
  bridge/D365MetadataBridge/Services/CrossReferenceService.cs
  bridge/D365MetadataBridge/Services/MetadataReadService.cs
  src/bridge/bridgeAdapter.ts
  src/bridge/bridgeClient.ts
  src/bridge/bridgeTypes.ts
  src/bridge/index.ts
  src/tools/completion.ts
  src/tools/findCocExtensions.ts
  src/tools/findEventHandlers.ts
  src/tools/menuItemInfo.ts
  src/tools/securityArtifactInfo.ts
  src/tools/tableExtensionInfo.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: bridge JIT crash — defer D365FO type resolution until after AssemblyResolve
  bridge/D365MetadataBridge/Program.cs
Due: none

fix: prohibit Copilot from autonomously switching active D365FO project
  .github/copilot-instructions.md
  src/prompts/systemInstructions.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: auto-default label description to model/project name
  src/server/mcpServer.ts
  src/tools/createLabel.ts
  tests/tools/labels.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: auto-default label description to VS project name
  src/server/mcpServer.ts
  src/tools/createLabel.ts
  tests/tools/labels.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: add projectPath/solutionPath params to create_label (#377)
  src/server/mcpServer.ts
  src/tools/createLabel.ts
  tests/tools/labels.test.ts
  tests/tools/projectFileManager.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(build): chain VsDevCmd.bat before MSBuild to resolve MSB4062 (#385)
  src/tools/buildProject.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(bridge): fix modify operations on custom objects and form DataControl methods
  bridge/D365MetadataBridge/Program.cs
  bridge/D365MetadataBridge/Services/MetadataWriteService.cs
  docs/MCP_CONFIG.md
  src/bridge/bridgeAdapter.ts
  src/bridge/bridgeClient.ts
  src/index.ts
  src/server/mcpServer.ts
  src/tools/modifyD365File.ts
  src/utils/configManager.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(#391): add XML parser and SQLite fallback for get_method_signature and get_method_source
  src/tools/getMethodSource.ts
  src/tools/methodSignature.ts
  tests/tools/method-fallback.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

docs: accuracy audit — fix errors, trim to high-level
  README.md
  docs/ARCHITECTURE.md
  docs/BRIDGE.md
  docs/CUSTOM_EXTENSIONS.md
  docs/TESTING.md
Due: none

fix: increase HTTP transport timeout and fix error response id (#transient)
  src/server/transport.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: use vswhere.exe for dynamic VS detection in build_d365fo_project
  src/tools/buildProject.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: use temp batch file for VsDevCmd+MSBuild invocation (#400)
  src/tools/buildProject.ts
  tests/tools/buildProject.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

docs: restore critical sections lost in copilot-instructions reduction
  .github/copilot-instructions.md
Due: none

Path conditions:
  .azure-pipelines/azure-pipelines.yml: any of: src, scripts, azure-pipelines.yml
  .azure-pipelines/d365fo-mcp-data-build-custom.yml: any of: src, .azure-pipelines/d365fo-mcp-data-quick.yml
  .azure-pipelines/d365fo-mcp-data-quick.yml: any of: src, .azure-pipelines/d365fo-mcp-data-quick.yml
  .azure-pipelines/d365fo-mcp-data.yml: any of: src, scripts, d365fo-mcp-data.yml
