Repository dynamics365ninja/d365fo-mcp-server: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Path conditions:
  .azure-pipelines/azure-pipelines.yml: any of: src, scripts, azure-pipelines.yml
  .azure-pipelines/d365fo-mcp-data-build-custom.yml: any of: src, .azure-pipelines/d365fo-mcp-data-quick.yml
  .azure-pipelines/d365fo-mcp-data-quick.yml: any of: src, .azure-pipelines/d365fo-mcp-data-quick.yml
  .azure-pipelines/d365fo-mcp-data.yml: any of: src, scripts, d365fo-mcp-data.yml

chore: verify form/query/view/enum extraction and indexing
  src/tools/formInfo.ts
  src/tools/queryInfo.ts
  src/tools/viewInfo.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(instructions): use standard workspace tools instead of modify_d365fo_file for file editing
  .github/copilot-instructions.md
Due: none

Fix UTF-8 BOM encoding for D365FO files and improve tool selection
  .github/copilot-instructions.md
  .gitignore
  docs/MCP_TOOLS.md
  src/prompts/codeReview.ts
  src/server/mcpServer.ts
  src/tools/createD365File.ts
  src/tools/generateD365Xml.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: fix symbolIndex bugs + rewrite all user-facing documentation
  .github/copilot-instructions.md
  README.md
  docs/MCP_CONFIG.md
  docs/MCP_TOOLS.md
  docs/SETUP.md
  docs/USAGE_EXAMPLES.md
  docs/WORKSPACE_DETECTION.md
  src/metadata/symbolIndex.ts
  src/server/mcpServer.ts
  src/tools/findReferences.ts
  src/tools/xppTools.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: correct .rnrproj Content Include, Link and Folder format
  src/tools/createD365File.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: extract model name from PackagesLocalDirectory path when .rnrproj not found
  src/utils/configManager.ts
  src/utils/workspaceDetector.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: add type mismatch detection and messaging for class and reference tools
  src/tools/classInfo.ts
  src/tools/findReferences.ts
  src/tools/methodSignature.ts
  src/utils/metadataResolver.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: use correct targetName/targetType params in findReferences tests
  tests/tools/findReferences.test.ts
Due: none

ci: update Node.js version to 24 in deployment workflows
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: none

fix: increase Node.js heap limit for build-database to 6 GB
  package.json
Due: none

feat: add method pagination to classInfo and tableInfo tools
  src/tools/classInfo.ts
  src/tools/tableInfo.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

refactor: Update server name and descriptions in configuration files; enhance completion tool to handle table checks
  .mcp.json.example
  src/metadata/symbolIndex.ts
  src/server/mcpServer.ts
  src/tools/completion.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: add schema migration for missing columns + skip data-dependent e2e tests
  src/metadata/symbolIndex.ts
  tests/e2e/mcp-protocol.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

add edt info tool
  scripts/extract-metadata.ts
  src/index.ts
  src/metadata/symbolIndex.ts
  src/server/mcpServer.ts
  src/tools/edtInfo.ts
  src/tools/enumInfo.ts
  src/tools/search.ts
  src/tools/toolHandler.ts
  src/tools/xppTools.ts
  src/utils/metadataResolver.ts
  tests/e2e/mcp-protocol.test.ts
  tests/metadata/xmlParser.view.test.ts
  tests/tools/edtInfo.test.ts
  tests/tools/enumInfo.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

add data entity metadata with labels
  scripts/extract-metadata.ts
  src/metadata/symbolIndex.ts
  src/metadata/types.ts
  src/metadata/xmlParser.ts
  src/tools/viewInfo.ts
  src/utils/metadataResolver.ts
  tests/metadata/xmlParser.view.test.ts
  tests/symbolIndex.test.ts
  tests/tools/viewInfo.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

improve metadata progress reporting
  scripts/extract-metadata.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data.yml

add pagination for table methods in get_table_info tool
  src/tools/tableInfo.ts
  tests/tools/tableInfo.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Fix server mode configuration and add tool filtering visibility
  .azure-pipelines/d365fo-mcp-app-deploy.yml
  docs/MCP_CONFIG.md
  infrastructure/main.bicep
  src/index.ts
  src/server/mcpServer.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: use ioredis Cluster client for REDIS_CLUSTER_MODE=true to eliminate MOVED errors
  .env.example
  docs/AZURE_MANAGED_REDIS_SETUP.md
  src/cache/redisCache.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Remove legacy GitHub Copilot instructions for D365FO X++ development to streamline documentation and ensure up-to-date practices.
  .github/copilot-instructions-v1-LEGACY.md
  .github/copilot-instructions-v2-LEGACY.md
  .github/copilot-instructions-v3-LEGACY.md
  .github/copilot-instructions-v4-LEGACY.md
Due: none

fix: make startup tool display mode-aware based on MCP_SERVER_MODE
  src/index.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: generate_smart_table and generate_smart_form return XML on Azure
  src/tools/generateSmartForm.ts
  src/tools/generateSmartTable.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: align AxTable/AxForm XML generation with real D365FO AOT structure
  src/metadata/xmlParser.ts
  src/tools/generateD365Xml.ts
  src/tools/modifyD365File.ts
  src/utils/smartXmlBuilder.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: resolve EINVAL crash and empty fields in generate_smart_table on Azure
  src/tools/generateSmartForm.ts
  src/tools/generateSmartTable.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: enhance XML generation with additional field groups and source code declaration
  src/tools/createD365File.ts
  src/tools/generateD365Xml.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: projectPath missing from .mcp.json + autodetect well-known VS dirs
  src/utils/workspaceDetector.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: update tests to match new compact/includeCocTemplate defaults
  src/tools/methodSignature.ts
  tests/e2e/user-scenarios.test.ts
  tests/tools/classInfo.test.ts
  tests/tools/methodSignature.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

refactor: generalize model prefix usage in check-db3 and update repair-dump documentation
  scripts/db-tools/check-db3.mjs
  scripts/db-tools/repair-dump.mjs
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: update documentation and tools to clarify model inference rules and prevent incorrect model usage
  .github/copilot-instructions.md
  src/prompts/systemInstructions.ts
  src/server/mcpServer.ts
  src/tools/createD365File.ts
  src/tools/extensionSearch.ts
  src/tools/modifyD365File.ts
  src/tools/tableInfo.ts
  src/utils/configManager.ts
  src/utils/workspaceDetector.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: add get_report_info to toolCatalog startup log, update tool count 29->30
  src/index.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: sanitizeReportXml guard in create_d365fo_file + 13 unit tests
  src/tools/createD365File.ts
  tests/tools/sanitizeReportXml.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: ensure configuration is loaded before retrieving package path in handleGenerateSmartTable
  src/tools/generateSmartTable.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: add 9 security/extension tools, new generate_code patterns, and updated docs
  README.md
  docs/ARCHITECTURE.md
  docs/MCP_CONFIG.md
  docs/MCP_TOOLS.md
  docs/USAGE_EXAMPLES.md
  scripts/extract-metadata.ts
  src/index.ts
  src/metadata/symbolIndex.ts
  src/metadata/types.ts
  src/metadata/xmlParser.ts
  src/prompts/codeReview.ts
  src/prompts/systemInstructions.ts
  src/server/mcpServer.ts
  src/tools/analyzeExtensionPoints.ts
  src/tools/batchSearch.ts
  src/tools/codeGen.ts
  src/tools/dataEntityInfo.ts
  src/tools/edtInfo.ts
  src/tools/findCocExtensions.ts
  src/tools/findEventHandlers.ts
  src/tools/menuItemInfo.ts
  src/tools/search.ts
  src/tools/securityArtifactInfo.ts
  src/tools/securityCoverageInfo.ts
  src/tools/tableExtensionInfo.ts
  src/tools/toolHandler.ts
  src/tools/validateObjectNaming.ts
  src/utils/workspaceDetector.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: enhance clarity and formatting in copilot instructions
  .github/copilot-instructions.md
Due: none

fix: add missing xmlns namespace to menu item XML templates
  src/tools/codeGen.ts
  src/tools/createD365File.ts
  src/tools/generateD365Xml.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: implement audit findings P0-P3
  .github/copilot-instructions.md
  docs/MCP_TOOLS.md
  src/prompts/codeReview.ts
  src/prompts/systemInstructions.ts
  src/tools/codeGen.ts
  src/tools/generateSmartForm.ts
  src/tools/generateSmartTable.ts
  src/tools/toolHandler.ts
  src/tools/validateObjectNaming.ts
  src/utils/formPatternTemplates.ts
  src/utils/projectUtils.ts
  src/utils/smartXmlBuilder.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: strip blank lines between /// doc comment and class declaration
  src/utils/xppDocGen.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: strip &#xD; CR entities from CDATA blocks in modifyD365File
  src/tools/modifyD365File.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: decode XML entities in X++ source code to prevent corruption in CDATA sections
  src/tools/createD365File.ts
  src/tools/generateD365Xml.ts
  src/tools/modifyD365File.ts
  src/utils/smartXmlBuilder.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: resolve build-agent XML paths to local PackagesLocalDirectory for form/query tools
  src/tools/formInfo.ts
  src/tools/queryInfo.ts
  src/utils/metadataResolver.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml
