Repository dynamics365ninja/d365fo-mcp-server: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Path conditions:
  .azure-pipelines/azure-pipelines.yml: any of: src, scripts, azure-pipelines.yml
  .azure-pipelines/d365fo-mcp-data-build-custom.yml: any of: src, .azure-pipelines/d365fo-mcp-data-quick.yml
  .azure-pipelines/d365fo-mcp-data-quick.yml: any of: src, .azure-pipelines/d365fo-mcp-data-quick.yml
  .azure-pipelines/d365fo-mcp-data.yml: any of: src, scripts, d365fo-mcp-data.yml

chore(package): update @emnapi/core, @emnapi/runtime, and @emnapi/wasi-threads to latest versions
  package-lock.json
Due: none

eval: add the class-inheritance case and close its coverage orphan
  README.md
  eval/COVERAGE.md
  eval/cases/L2-coc-inherited-method.json
  eval/coverage.json
  src/eval/coverage/taxonomy.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

eval: fix a void oracle in L2-coc-inherited-method
  eval/cases/L2-coc-inherited-method.json
  tests/eval/inheritedMethodCaseOracle.test.ts
Due: none

eval: fix stale wording left by the oracle relocation
  eval/cases/L2-coc-inherited-method.json
Due: none

eval: capture the L2-coc-inherited-method golden — core back to 100%
  README.md
  eval/COVERAGE.md
  eval/cases/L2-coc-inherited-method.json
  eval/corpus/runs/2026-07-28T15__L2-coc-inherited-method__a8a6204.json
  eval/coverage.json
  eval/goldens/L2-coc-inherited-method/SalesFormLetter_InvoiceCon_Extension.metadata.xml
Due: none

fix(prepare): walk the extends chain for inherited methods
  src/tools/prepareChange.ts
  tests/tools/prepare-inheritance.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(build): never replay a finished build as a fresh result
  src/tools/buildProject.ts
  tests/tools/buildProject.test.ts
  tests/tools/buildStaleResult.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

eval: re-verify every captured golden against the compiler — 65/65 clean
  docs/golden-build-reverification-2026-07-28.md
  eval/golden-build-verification.json
  scripts/verify-goldens-build.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(eval): coverage gate must not depend on checkout line endings
  src/eval/coverage/artifactCompare.ts
  src/eval/coverage/coverageCli.ts
  tests/eval/coverageArtifactCompare.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(paths): find AosService by scanning drives, not by guessing K:
  bridge/D365MetadataBridge/D365MetadataBridge.csproj
  bridge/D365MetadataBridge/Program.cs
  docs/CONFIGURATION.md
  docs/MCP_CONFIG.md
  scripts/build-database.ts
  scripts/build-fts.ts
  scripts/extract-metadata.ts
  scripts/verify-goldens-build.ts
  src/bridge/bridgeClient.ts
  src/cli/commands/doctor.ts
  src/cli/commands/instance.ts
  src/cli/commands/setup.ts
  src/cli/settingsPrompt.ts
  src/config/settings.ts
  src/tools/buildProject.ts
  src/tools/createD365File.ts
  src/tools/createLabel.ts
  src/tools/dbSync.ts
  src/tools/generateSmartForm.ts
  src/tools/generateSmartReport.ts
  src/tools/generateSmartTable.ts
  src/tools/renameLabel.ts
  src/tools/runBpCheck.ts
  src/tools/sysTestRunner.ts
  src/tools/verifyD365Project.ts
  src/utils/configManager.ts
  src/utils/packagesRoot.ts
  tests/tools/buildProject.test.ts
  tests/tools/runBpCheck.test.ts
  tests/utils/packagesRoot.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

chore(eval): retire the roadmap + golden sweep report, and re-verify the claim
  .github/workflows/eval-gate.yml
  docs/AGENT_EVAL_LOOP.md
  docs/golden-build-reverification-2026-07-28.md
  eval/README.md
  eval/ROADMAP.md
  eval/fixtures/ConDemoNoteHeader.metadata.xml
  eval/fixtures/README.md
  eval/golden-build-verification.json
  eval/knowledge-audit.allow.json
  scripts/verify-goldens-build.ts
  src/eval/audit/knowledgeAudit.ts
  src/eval/audit/knowledgeAuditCli.ts
  src/eval/audit/knowledgeRefs.ts
  src/eval/audit/symbolLookup.ts
  src/eval/coverage/coverage.ts
  src/eval/coverage/coverageCli.ts
  src/eval/coverage/sources.ts
  src/eval/coverage/taxonomy.ts
  src/eval/fixtures/cli.ts
  src/eval/fixtures/fixtures.ts
  tests/eval/coverage.test.ts
  tests/eval/fixtures.test.ts
  tests/eval/knowledgeAudit.test.ts
  tests/knowledge/exampleValidation.test.ts
  tests/tools/serviceXml.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(paths): read process.platform per call, not once at import
  src/server/toolSchemas/d365foFile.ts
  src/server/toolSchemas/verifyD365foProject.ts
  src/tools/generateSmartTable.ts
  src/tools/verifyD365Project.ts
  src/utils/packagesRoot.ts
  tests/utils/configManager.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

chore(release): v1.6.0
  package-lock.json
  package.json
Due: none

fix(object-info): fall back to the symbol index when the bridge is silent
  src/tools/dataEntityInfo.ts
  src/tools/enumInfo.ts
  src/tools/formInfo.ts
  src/tools/queryInfo.ts
  src/tools/reportInfo.ts
  src/tools/viewInfo.ts
  src/utils/indexedXmlLookup.ts
  tests/tools/object-info.test.ts
  tests/tools/objectinfo-index-fallback.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(build): compile labels with labelc.exe before the X++ compile
  src/tools/buildProject.ts
  src/tools/compileLabels.ts
  src/tools/runBpCheck.ts
  src/utils/frameworkBin.ts
  tests/tools/compileLabels.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

@ eval: capture the L3-parallel-batch-tasks golden — total 87.2%
  README.md
  eval/COVERAGE.md
  eval/cases/L3-parallel-batch-tasks.json
  eval/corpus/runs/2026-07-29T07__L3-parallel-batch-tasks__d1ccb46.json
  eval/coverage.json
  eval/goldens/L3-parallel-batch-tasks/ConDemoParallelContract.metadata.xml
  eval/goldens/L3-parallel-batch-tasks/ConDemoParallelScheduler.metadata.xml
  eval/goldens/L3-parallel-batch-tasks/ConDemoParallelWorker.metadata.xml
  eval/goldens/L3-parallel-batch-tasks/README.md
Due: none

eval: capture the L3-print-management-report golden — total 88.5%
  README.md
  eval/COVERAGE.md
  eval/cases/L3-print-management-report.json
  eval/corpus/runs/2026-07-29T11__L3-print-management-report__33f6418.json
  eval/coverage.json
  eval/goldens/L3-print-management-report/ConDemoPrintDocType.metadata.xml
  eval/goldens/L3-print-management-report/ConDemoPrintMgmtDocType.metadata.xml
  eval/goldens/L3-print-management-report/ConDemoPrintMgmtRunner.metadata.xml
  eval/goldens/L3-print-management-report/README.md
Due: none

eval: capture L3-dualwrite-entity-mapping as a DRAFT golden (TOOL_DEFECT)
  eval/corpus/runs/2026-07-29T12__L3-dualwrite-entity-mapping__483852c.json
  eval/goldens/L3-dualwrite-entity-mapping/ConDemoSyncCustomer.metadata.xml
  eval/goldens/L3-dualwrite-entity-mapping/ConDemoSyncCustomerEntity.metadata.xml
  eval/goldens/L3-dualwrite-entity-mapping/ConDemoSyncCustomerEntityMaintain.metadata.xml
  eval/goldens/L3-dualwrite-entity-mapping/README.md
Due: none

eval: capture L4-posting-ledgervoucher-slice golden — PASS 3/3
  eval/cases/L4-posting-ledgervoucher-slice.json
  eval/corpus/runs/2026-07-29T18__L4-posting-ledgervoucher-slice__0625373.json
  eval/goldens/L4-posting-ledgervoucher-slice/ConDemoVoucherPoster.metadata.xml
Due: none

eval: regenerate coverage — total 70/78 (89.7%) after L4 posting slice
  eval/COVERAGE.md
  eval/coverage.json
Due: none

fix(data-entity): make the AxDataEntityView writer express change tracking, key naming, IsPublic and the canonical skeleton
  src/tools/createD365File.ts
  src/tools/dataEntityXml.ts
  src/tools/generateD365Xml.ts
  tests/tools/code-generation.test.ts
  tests/tools/dataEntityXml.test.ts
  tests/tools/fixtures/axDataEntityView-element-order.json
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

docs: sync coverage badge to 89.7%
  README.md
Due: none

eval: capture the L3-electronic-reporting-integration golden — total 91%
  README.md
  eval/COVERAGE.md
  eval/cases/L3-electronic-reporting-integration.json
  eval/corpus/runs/2026-07-29T19__L3-electronic-reporting-integration__cd87f2b.json
  eval/coverage.json
  eval/goldens/L3-electronic-reporting-integration/ConDemoErDataProvider.metadata.xml
  eval/goldens/L3-electronic-reporting-integration/README.md
Due: none

fix(grounding): tell an unknown parameter list from an empty one, and gate types on Descriptor visibility
  src/metadata/modelDescriptor.ts
  src/metadata/symbolIndex.ts
  src/metadata/types.ts
  src/metadata/xmlParser.ts
  src/metadata/xppDeclaration.ts
  src/tools/buildProject.ts
  src/tools/resolveReferences.ts
  src/tools/updateSymbolIndex.ts
  src/tools/validateCode.ts
  tests/metadata/modelDescriptor.test.ts
  tests/metadata/xmlParser-method-params.test.ts
  tests/tools/resolve-references.test.ts
  tests/tools/updateSymbolIndex.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(knowledge): correct the electronic-reporting entry, state dual-write's table-side prerequisite, advertise the data-entity writer properties
  eval/knowledge-audit.snapshot.json
  src/server/toolSchemas/d365foFile.ts
  src/tools/xppKnowledge.ts
  tests/utils/toolSchemaBudget.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat(writers): AllowRowVersionChangeTracking on AxTable, and modify-property for data-entity
  bridge/D365MetadataBridge/Services/MetadataWriteService.cs
  src/bridge/bridgeAdapter.ts
  src/tools/createD365File.ts
  src/tools/dataEntityXml.ts
  src/tools/generateD365Xml.ts
  src/utils/axTablePropertyOrder.ts
  tests/tools/createWriterDefects.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(grounding): check Type::member even when a local is named after the type
  src/tools/resolveReferences.ts
  tests/tools/resolve-references.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat(writers): expose the AxTable audit system fields
  bridge/D365MetadataBridge/Services/MetadataWriteService.cs
  src/server/toolSchemas/d365foFile.ts
  src/tools/createD365File.ts
  src/tools/generateD365Xml.ts
  tests/tools/createWriterDefects.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

chore(release): v1.7.0
  package-lock.json
  package.json
Due: none

fix(data-entity): omit the DataManagement defaults, freeze the dual-write golden
  eval/cases/L3-dualwrite-entity-mapping.json
  eval/corpus/runs/2026-07-30T07__L3-dualwrite-entity-mapping__1f842a6.json
  eval/goldens/L2-virtual-entity-power-platform/ConDemoVirtualSourceEntity.metadata.xml
  eval/goldens/L3-dualwrite-entity-mapping/README.md
  eval/goldens/L4-entity-security/ConDemoNoteHeaderEntity.metadata.xml
  src/tools/dataEntityXml.ts
  src/tools/xppKnowledge.ts
  tests/tools/dataEntityXml.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

chore(eval): regenerate the coverage matrix
  README.md
  eval/COVERAGE.md
  eval/coverage.json
Due: none

fix(project-file): undo must not delete <Folder Include> entries it never added
  eval/corpus/runs/2026-07-30T11__L3-dualwrite-entity-mapping__174ac13.json
  src/tools/createD365File.ts
  src/tools/createdArtifactLedger.ts
  tests/tools/projectFileManager.test.ts
  tests/tools/undo-ledger.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(bridge): add table-extension fallback for relation/index write ops
  bridge/D365MetadataBridge/Services/MetadataWriteService.cs
Due: none

fix(form-extension): add direct-XML fallback for add-data-source
  src/tools/modifyD365File.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

refactor(bridge): use static access in the table-extension index/relation paths
  bridge/D365MetadataBridge/Services/MetadataWriteService.cs
Due: none

fix(bridge): extension fallback for field-group, enum-value and data-source ops
  bridge/D365MetadataBridge/Protocol/RequestDispatcher.cs
  bridge/D365MetadataBridge/Services/MetadataWriteService.cs
  src/bridge/bridgeAdapter.ts
  src/bridge/bridgeClient.ts
  src/tools/modifyD365File.ts
  tests/tools/addIndexSameSession.test.ts
  tests/tools/modifyParamSilentDrop.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(bridge): route base-table relations to RelationExtensions + gate bridge builds in CI
  .github/workflows/eval-gate.yml
  bridge/D365MetadataBridge/Services/MetadataWriteService.cs
  bridge/build-attestation.json
  package.json
  scripts/bridgeAttest.mjs
  scripts/bridgeBuild.mjs
  src/bridge/bridgeAdapter.ts
  tests/scripts/bridgeAttest.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat(bridge): close the remaining extension write gaps + fix add-field-modification
  bridge/D365MetadataBridge/Protocol/RequestDispatcher.cs
  bridge/D365MetadataBridge/Services/MetadataWriteService.cs
  bridge/build-attestation.json
  src/bridge/bridgeAdapter.ts
  src/bridge/bridgeClient.ts
  src/bridge/index.ts
  src/server/toolSchemas/d365foFile.ts
  src/tools/d365foFileOpSpecs.ts
  src/tools/modifyD365File.ts
  tests/bridge/canBridgeModify.test.ts
  tests/tools/d365foFileOpSpecs.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat(data-entity-extension): add add-field support + clarify params guidance
  src/bridge/bridgeAdapter.ts
  src/server/toolSchemas/d365foFile.ts
  src/tools/d365foFileOpSpecs.ts
  src/tools/modifyD365File.ts
  tests/utils/toolSchemaBudget.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

style(bridge): restore LF line endings in bridgeAdapter.ts
  src/bridge/bridgeAdapter.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml
