Repository dynamics365ninja/d365fo-mcp-server: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Path conditions:
  .azure-pipelines/azure-pipelines.yml: any of: src, scripts, azure-pipelines.yml
  .azure-pipelines/d365fo-mcp-data-build-custom.yml: any of: src, .azure-pipelines/d365fo-mcp-data-quick.yml
  .azure-pipelines/d365fo-mcp-data-quick.yml: any of: src, .azure-pipelines/d365fo-mcp-data-quick.yml
  .azure-pipelines/d365fo-mcp-data.yml: any of: src, scripts, d365fo-mcp-data.yml

fix: force socket close after response in Azure
  src/server/transport.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: add status:complete to responses for orchestrator
  src/server/transport.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: remove _meta field, keep only metadata.action in result
  src/server/transport.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: custom HTTP transport with server.connect() - fixes hanging responses
  src/server/transport.ts
  tests/server/transport.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

test: fix transport tests to match JSON-RPC behavior - 100% passing
  tests/server/transport.test.ts
Due: none

fix: add Promise-based async coordination to prevent premature response completion
  src/server/transport.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

debug: add comprehensive logging to track entire request/response lifecycle
  src/server/transport.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: handle session termination notifications (cancelled/shutdown)
  src/server/transport.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: disable HTTP Keep-Alive to close connection after each response
  src/server/transport.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: update markdown formatting for code examples and output sections in MCP_TOOLS.md
  docs/MCP_TOOLS.md
Due: none

docs: update xpp-metadata.db size from ~1.5GB to ~2GB
  docs/ARCHITECTURE.md
  docs/PIPELINES.md
Due: none

docs: update workspace-aware feature documentation and remove obsolete file
  README.md
  docs/MCP_TOOLS.md
  docs/ORCHESTRATOR_SETUP.md
  docs/SETUP.md
  docs/WORKSPACE_AWARE.md
Due: none

feat: Update D365FO XML templates based on real metadata structure
  README.md
  docs/MCP_TOOLS.md
  docs/USAGE_EXAMPLES.md
  src/server/mcpServer.ts
  src/tools/createD365File.ts
  src/tools/toolHandler.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Fix D365FO XML template generation to match Microsoft standard
  docs/MCP_TOOLS.md
  src/tools/createD365File.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Add mandatory create_d365fo_file instructions for AI orchestrators
  .github/copilot-instructions.md
  docs/SYSTEM_INSTRUCTIONS.md
Due: none

Add explicit MCP tools section to copilot-instructions
  .github/copilot-instructions.md
Due: none

feat: improve create_d365fo_file tool with solution path support and absolute paths
  .github/copilot-instructions.md
  package-lock.json
  src/tools/createD365File.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

docs: strengthen copilot instructions to prevent use of create_file for D365FO objects
  .github/copilot-instructions.md
Due: none

docs: add STOP warning at the top to prevent create_file usage
  .github/copilot-instructions.md
Due: none

fix: normalize file paths to Windows backslash format
  src/tools/createD365File.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: correct XML indentation in AxClass template
  src/tools/createD365File.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

docs: add explicit workflow and model selection rules
  .github/copilot-instructions.md
Due: none

docs: emphasize immediate action and automatic context extraction
  .github/copilot-instructions.md
Due: none

docs: clarify that create_d365fo_file physically creates files
  .github/copilot-instructions.md
Due: none

docs: add explicit comparison of create_file vs create_d365fo_file paths
  .github/copilot-instructions.md
Due: none

docs: add explicit IF/THEN decision tree for tool selection
  .github/copilot-instructions.md
Due: none

docs: add warning that MCP tools require VS Code
  .github/copilot-instructions.md
Due: none

docs: remove incorrect VS 2022 MCP limitation warning
  .github/copilot-instructions.md
Due: none

Add create_d365fo_file tool to system instructions with strict enforcement
  src/prompts/systemInstructions.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Add debug logging to create_d365fo_file tool
  src/tools/createD365File.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Add test script for debugging create_d365fo_file
  test-create-file.js
Due: none

Move test script to scripts directory
  scripts/test-create-file.js
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data.yml

Replace CustomCore with ContosoExtensions in examples
  .github/copilot-instructions.md
  scripts/test-create-file.js
  scripts/tests/test-parse.ts
  src/prompts/systemInstructions.ts
  src/server/mcpServer.ts
  src/tools/createD365File.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Fix incorrect 'Ask user' instructions causing path existence assumptions
  .github/copilot-instructions.md
  src/prompts/systemInstructions.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Fix EINVAL error and improve directory creation error handling
  scripts/tests/test-parse.ts
  src/tools/createD365File.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Add platform check for create_d365fo_file - Windows only tool
  src/server/mcpServer.ts
  src/tools/createD365File.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Add generate_d365fo_xml tool for cloud-based XML generation
  .github/copilot-instructions.md
  src/server/mcpServer.ts
  src/tools/generateD365Xml.ts
  src/tools/toolHandler.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Update documentation for generate_d365fo_xml tool
  .github/copilot-instructions.md
  docs/MCP_TOOLS.md
  docs/USAGE_EXAMPLES.md
  src/prompts/systemInstructions.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Simplify documentation for GitHub Copilot users
  README.md
  docs/MCP_TOOLS.md
Due: none

Fix encoding issues in MCP_TOOLS.md
  docs/MCP_TOOLS.md
Due: none
