Repository dynamics365ninja/d365fo-mcp-server: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

.azure-pipelines/azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Prepare
    displayName: Prepare Environment
    jobs:
    - job: PrepareJob
      displayName: Setup and Download Standard Metadata
      steps:
      - checkout: self
        displayName: Checkout repository
      - task: NodeTool@0
  ...

.azure-pipelines/d365fo-mcp-data-build-custom.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ProcessMetadata
    displayName: Process Metadata
    jobs:
    - job: ProcessJob
      displayName: Extract, Build, and Upload
      steps:
      - checkout: self
        displayName: Checkout D365FO source code
        clean: true
      - checkout: mcpServer
  ...

.azure-pipelines/d365fo-mcp-data-quick.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ProcessMetadata
    displayName: Process Metadata
    jobs:
    - job: ProcessJob
      displayName: Extract, Build, and Upload
      steps:
      - checkout: mcpServer
        displayName: Checkout MCP Server code from GitHub
        clean: true
  ...

.azure-pipelines/d365fo-mcp-data.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ProcessAll
    displayName: Process Custom Metadata
    jobs:
    - job: ProcessJob
      displayName: Download → Extract → Build → Upload → Restart
      steps:
      - checkout: self
        displayName: Checkout D365FO source code
        path: d365fo-source
  ...

eval: close macro leaf + fix class splitter that dropped macro includes
  README.md
  eval/COVERAGE.md
  eval/cases/L1-macro-library-flight.json
  eval/corpus/runs/2026-07-23T18__L1-macro-library-flight__b7abafe.json
  eval/coverage.json
  eval/goldens/L1-macro-library-flight/ConDemoFlightReader.metadata.xml
  eval/goldens/L1-macro-library-flight/ConDemoModuleFlights.metadata.xml
  src/tools/createD365File.ts
  tests/tools/createWriterDefects.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

eval: close EDT-extension leaf + fix the writer that dropped all its properties
  README.md
  eval/COVERAGE.md
  eval/cases/L2-edt-extension-basic.json
  eval/corpus/runs/2026-07-23T16__L2-edt-extension-basic__01cd181.json
  eval/coverage.json
  eval/goldens/L2-edt-extension-basic/AccountNum.ConExtension.metadata.xml
  eval/goldens/L2-edt-extension-basic/ConDemoDocumentCode.metadata.xml
  eval/goldens/L2-edt-extension-basic/ConDemoDocumentIndex.metadata.xml
  src/server/toolSchemas/d365foFile.ts
  src/tools/createD365File.ts
  src/tools/edtExtensionXml.ts
  src/tools/generateD365Xml.ts
  tests/tools/edtExtensionXml.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

chore: clean up repo and consolidate docs
  .github/copilot-instructions.md
  README.md
  bridge/d365fo-mcp-server.sln
  docs/AGENT_EVAL_LOOP.md
  docs/ARCHITECTURE.md
  docs/BACKLOG.md
  docs/BRIDGE.md
  docs/CLAUDE_CODE_SETUP.md
  docs/MCP_CONFIG.md
  docs/MCP_TOOLS.md
  docs/NEW_TOOL_CHECKLIST.md
  docs/PIPELINES.md
  docs/QUICK_START.md
  docs/SETUP.md
  docs/SETUP_AZURE.md
  docs/SQLITE_DEPENDENCY.md
  docs/USAGE_EXAMPLES.md
  docs/WORKSPACE_DETECTION.md
  memory/MEMORY.md
  memory/project_ide_context.md
  src/cli/commands/connect.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

chore: remove obsolete scripts and tests for MCP proxy and tools
  scripts/azure-mcp-proxy.js
  scripts/test-new-tools.ts
  scripts/test-service-info.ts
  scripts/tests/test-azure-mcp.ps1
  scripts/tests/test-mcp.ps1
  scripts/tests/test-parse.ts
  scripts/tests/test-pipeline.ps1
  scripts/tests/test-proxy.ps1
  scripts/tests/test-tools-list.ps1
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data.yml

chore: remove obsolete configuration files (.env.example and .npmrc)
  .env.example
  .npmrc
Due: none

chore: remove test execution step and obsolete environment file from deployment workflow
  .github/workflows/deploy.yml
Due: none

feat(setup): generate .mcp.json and stage copilot setup files
  src/cli/commands/setup.ts
  src/cli/context.ts
  src/cli/mcpJson.ts
  src/cli/settingsPrompt.ts
  src/config/settings.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

perf: speed up metadata extraction with adaptive concurrency
  scripts/extract-metadata.ts
  src/metadata/xmlParser.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

chore: update lockfile and remove mcp example config
  .mcp.json.example
  package-lock.json
Due: none

chore(release): v1.5.0
  package-lock.json
  package.json
Due: none

fix(bridge): merge nuget.org into restrictive D365FO VM NuGet feeds
  bridge/D365MetadataBridge/NuGet.config
  docs/SETUP.md
Due: none

fix(bridge): merge nuget.org into restrictive D365FO VM NuGet feeds (#770)
  bridge/D365MetadataBridge/NuGet.config
  docs/SETUP.md
Due: none

chore(release): v1.5.1
  package-lock.json
  package.json
Due: none

chore(release): v1.5.1 (#771)
  package-lock.json
  package.json
Due: none

Add MCP Toplist rank badge
  README.md
Due: none

fix(setup): ship copilot-instructions.md and always write the setup README
  package.json
  src/cli/commands/instance.ts
  src/cli/commands/setup.ts
  src/cli/copilotFiles.ts
  tests/cli/copilotFiles.test.ts
  tests/packaging/publishedFiles.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

chore(release): v1.5.2
  package-lock.json
  package.json
Due: none

refactor(setup): stop copying .mcp.json into the staging folder
  src/cli/commands/instance.ts
  src/cli/commands/setup.ts
  src/cli/copilotFiles.ts
  tests/cli/copilotFiles.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

@ test(eval): close three L2 leaves with captured goldens
  README.md
  eval/COVERAGE.md
  eval/cases/L2-direct-sql-connection.json
  eval/cases/L2-feature-management-flight.json
  eval/cases/L2-tile-cue-over-query.json
  eval/corpus/runs/2026-07-27T12__L2-tile-cue-over-query__b28515f.json
  eval/corpus/runs/2026-07-27T13__L2-feature-management-flight__b28515f.json
  eval/corpus/runs/2026-07-27T14__L2-direct-sql-connection__b28515f.json
  eval/coverage.json
  eval/goldens/L2-direct-sql-connection/DemoDirectSqlReader.AxClass.metadata.xml
  eval/goldens/L2-feature-management-flight/ConDemoFastPostingFeature.metadata.xml
  eval/goldens/L2-feature-management-flight/ConDemoPostingService.metadata.xml
  eval/goldens/L2-tile-cue-over-query/ConDemoBlockedCustomersMI.metadata.xml
  eval/goldens/L2-tile-cue-over-query/ConDemoBlockedCustomersQuery.metadata.xml
  eval/goldens/L2-tile-cue-over-query/ConDemoBlockedCustomersTile.metadata.xml
Due: none

@ test(eval): record virtual-entity draft golden and currency ENV_FLAKE
  eval/corpus/runs/2026-07-27T14__L2-virtual-entity-power-platform__b28515f.json
  eval/corpus/runs/2026-07-27T16__L3-currency-exchange-conversion__b28515f.json
  eval/goldens/L2-virtual-entity-power-platform/ConDemoVirtualSource.metadata.xml
  eval/goldens/L2-virtual-entity-power-platform/ConDemoVirtualSourceEntity.metadata.xml
  eval/goldens/L2-virtual-entity-power-platform/README.md
Due: none

@ test(eval): close Configuration keys leaf (L2-config-key-gated-table)
  README.md
  eval/COVERAGE.md
  eval/cases/L2-config-key-gated-table.json
  eval/corpus/runs/2026-07-27T18__L2-config-key-gated-table__b28515f.json
  eval/coverage.json
  eval/goldens/L2-config-key-gated-table/ConDemoGatedSetting.metadata.xml
  eval/goldens/L2-config-key-gated-table/ConDemoGatedSettingMI.metadata.xml
  eval/goldens/L2-config-key-gated-table/ConDemoModuleKey.metadata.xml
  eval/goldens/L2-config-key-gated-table/README.md
Due: none

@ test(eval): close Currency & exchange rates leaf (L3-currency-exchange-conversion)
  README.md
  eval/COVERAGE.md
  eval/cases/L3-currency-exchange-conversion.json
  eval/corpus/runs/2026-07-27T18__L3-currency-exchange-conversion__8141001.json
  eval/coverage.json
  eval/goldens/L3-currency-exchange-conversion/ConDemoCurrencyConverter.metadata.xml
Due: none

@ test(eval): close Async & retryable batch leaf (L3-batch-retryable-basic)
  README.md
  eval/COVERAGE.md
  eval/cases/L3-batch-retryable-basic.json
  eval/corpus/runs/2026-07-27T18__L3-batch-retryable-basic__77c3ed4.json
  eval/coverage.json
  eval/goldens/L3-batch-retryable-basic/ConDemoNoteReindexContract.metadata.xml
  eval/goldens/L3-batch-retryable-basic/ConDemoNoteReindexController.metadata.xml
  eval/goldens/L3-batch-retryable-basic/ConDemoNoteReindexService.metadata.xml
Due: none

@ test(eval): record L3-data-entity-extension-field FAIL (TOOL_DEFECT)
  eval/corpus/runs/2026-07-27T19__L3-data-entity-extension-field__3d5e5f6.json
  eval/goldens/L3-data-entity-extension-field/CustCustomerV3Entity.ConExtension.metadata.xml
  eval/goldens/L3-data-entity-extension-field/CustTable.ConExtension.metadata.xml
  eval/goldens/L3-data-entity-extension-field/README.md
Due: none

@ test(eval): close Reading Excel / CSV files leaf (L3-file-csv-import)
  README.md
  eval/COVERAGE.md
  eval/cases/L3-file-csv-import.json
  eval/corpus/runs/2026-07-27T19__L3-file-csv-import__12f14e8.json
  eval/coverage.json
  eval/goldens/L3-file-csv-import/ConDemoFileImporter.metadata.xml
Due: none

@ test(eval): close Global address book leaf (L3-gab-party-postaladdress)
  README.md
  eval/COVERAGE.md
  eval/cases/L3-gab-party-postaladdress.json
  eval/corpus/runs/2026-07-27T19__L3-gab-party-postaladdress__a445675.json
  eval/coverage.json
  eval/goldens/L3-gab-party-postaladdress/ConDemoPartyBuilder.metadata.xml
Due: none

@ test(eval): record L3-dmf-entity-import-slice FAIL (TOOL_DEFECT)
  eval/corpus/runs/2026-07-27T23__L3-dmf-entity-import-slice__e8e2eb9.json
  eval/goldens/L3-dmf-entity-import-slice/ConDemoImportTarget.metadata.xml
  eval/goldens/L3-dmf-entity-import-slice/ConDemoImportTargetEntity.metadata.xml
  eval/goldens/L3-dmf-entity-import-slice/README.md
Due: none

fix(create): emit real extension XML for data-entity and menu-item extensions
  src/tools/createD365File.ts
  src/tools/dataEntityViewExtensionXml.ts
  src/tools/generateD365Xml.ts
  src/tools/menuItemExtensionXml.ts
  src/tools/xppKnowledge.ts
  tests/tools/dataEntityViewExtensionXml.test.ts
  tests/tools/menuItemExtensionXml.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

test(eval): record L4-ssrs-report-multidataset PASS with draft golden
  eval/corpus/runs/2026-07-28T04__L4-ssrs-report-multidataset__39adafe.json
  eval/goldens/L4-ssrs-report-multidataset/ConDemoNoteReportMulti.menuitem.metadata.xml
  eval/goldens/L4-ssrs-report-multidataset/ConDemoNoteReportMulti.metadata.xml
  eval/goldens/L4-ssrs-report-multidataset/ConDemoNoteReportMultiContract.metadata.xml
  eval/goldens/L4-ssrs-report-multidataset/ConDemoNoteReportMultiController.metadata.xml
  eval/goldens/L4-ssrs-report-multidataset/ConDemoNoteReportMultiDP.metadata.xml
  eval/goldens/L4-ssrs-report-multidataset/ConDemoNoteReportMultiSummaryTmp.metadata.xml
  eval/goldens/L4-ssrs-report-multidataset/ConDemoNoteReportMultiTmp.metadata.xml
  eval/goldens/L4-ssrs-report-multidataset/README.md
Due: none

fix(scaffold): resolve report field EDTs from the index, not a hardcoded ladder
  src/tools/generateSmartReport.ts
  tests/tools/generateSmartReport.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(scaffold): reconcile report EDT with the emitted field and RDL type
  src/tools/generateSmart.ts
  src/tools/generateSmartReport.ts
  tests/tools/generateSmartReport.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

test(eval): record the run that caught the b3d7856 regression
  eval/corpus/runs/2026-07-28T06__L4-ssrs-report-multidataset__b3d7856.json
Due: none

eval(L4-ssrs-report-multidataset): freeze the golden, close the leaf
  README.md
  eval/COVERAGE.md
  eval/cases/L4-ssrs-report-multidataset.json
  eval/corpus/runs/2026-07-28T09__L4-ssrs-report-multidataset__538cab2.json
  eval/coverage.json
  eval/goldens/L4-ssrs-report-multidataset/ConDemoNoteReportMulti.metadata.xml
  eval/goldens/L4-ssrs-report-multidataset/ConDemoNoteReportMultiDP.metadata.xml
  eval/goldens/L4-ssrs-report-multidataset/ConDemoNoteReportMultiSummaryTmp.metadata.xml
  eval/goldens/L4-ssrs-report-multidataset/ConDemoNoteReportMultiTmp.metadata.xml
  eval/goldens/L4-ssrs-report-multidataset/README.md
Due: none

eval: close the data-entity-extension leaf, re-capture the advanced SSRS golden
  README.md
  eval/COVERAGE.md
  eval/cases/L3-data-entity-extension-field.json
  eval/corpus/runs/2026-07-28T09__L3-data-entity-extension-field__ce4fc57.json
  eval/corpus/runs/2026-07-28T09__L4-ssrs-report-advanced__ce4fc57.json
  eval/coverage.json
  eval/goldens/L3-data-entity-extension-field/CustCustomerV3Entity.ConExtension.metadata.xml
  eval/goldens/L3-data-entity-extension-field/README.md
  eval/goldens/L4-ssrs-report-advanced/ConDemoNoteReportAdvTmp.metadata.xml
Due: none

fix(get_method): resolve methods inherited from a base class
  src/tools/getMethodSource.ts
  src/tools/methodSignature.ts
  src/utils/inheritanceChain.ts
  tests/tools/method-inheritance.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat(knowledge): add class-inheritance topic; correct the CoC-on-inherited guidance
  eval/knowledge-audit.snapshot.json
  src/tools/getMethodSource.ts
  src/tools/methodSignature.ts
  src/tools/xppKnowledge.ts
  tests/tools/method-inheritance.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(extension_info, get_object_info): see inherited members, and fix eligibility
  src/bridge/bridgeAdapter.ts
  src/bridge/bridgeTypes.ts
  src/tools/analyzeExtensionPoints.ts
  src/tools/completion.ts
  tests/tools/extension-points-inheritance.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

chore(eval): refresh the coverage matrix for the class-inheritance topic
  eval/COVERAGE.md
  eval/coverage.json
Due: none

fix(extension_info): take access modifiers from the bridge, not the snippet
  src/tools/analyzeExtensionPoints.ts
  tests/tools/extension-points-inheritance.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(extension_info): read the modifier from getCompletionMembers, not readClass
  src/bridge/bridgeTypes.ts
  src/tools/analyzeExtensionPoints.ts
  tests/tools/extension-points-inheritance.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Path conditions:
  .azure-pipelines/azure-pipelines.yml: any of: src, scripts, azure-pipelines.yml
  .azure-pipelines/d365fo-mcp-data-build-custom.yml: any of: src, .azure-pipelines/d365fo-mcp-data-quick.yml
  .azure-pipelines/d365fo-mcp-data-quick.yml: any of: src, .azure-pipelines/d365fo-mcp-data-quick.yml
  .azure-pipelines/d365fo-mcp-data.yml: any of: src, scripts, d365fo-mcp-data.yml
