Repository dynamics365ninja/d365fo-mcp-server: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Path conditions:
  .azure-pipelines/azure-pipelines.yml: any of: src, scripts, azure-pipelines.yml
  .azure-pipelines/d365fo-mcp-data-build-custom.yml: any of: src, .azure-pipelines/d365fo-mcp-data-quick.yml
  .azure-pipelines/d365fo-mcp-data-quick.yml: any of: src, .azure-pipelines/d365fo-mcp-data-quick.yml
  .azure-pipelines/d365fo-mcp-data.yml: any of: src, scripts, d365fo-mcp-data.yml

docs(backlog): park the live SysTest blocker as its own item, with the corrected diagnosis
  docs/BACKLOG.md
Due: none

feat(mobile-app): screen patterns for both warehouse-app frameworks
  CHANGELOG.md
  README.md
  docs/MCP_TOOLS.md
  eval/COVERAGE.md
  eval/README.md
  eval/cases/L2-processguide-page-control.json
  eval/cases/L3-legacy-workexecutedisplay-extend.json
  eval/cases/L3-processguide-flow-slice.json
  eval/cases/L3-warehouse-scan-resolve-slice.json
  eval/coverage.json
  src/eval/coverage/taxonomy.ts
  src/knowledge/mobileAppPatterns/catalog.ts
  src/knowledge/mobileAppPatterns/index.ts
  src/knowledge/mobileAppPatterns/types.ts
  src/server/toolSchemas/objectPatterns.ts
  src/tools/knowledge/getMobileAppPatterns.ts
  src/tools/knowledge/objectPatterns.ts
  src/tools/knowledge/xppKnowledge.ts
  tests/eval/mobileAppCaseGrounding.test.ts
  tests/knowledge/mobileAppPatternCatalog.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

docs(release): changelog + docs for the compiler-oracle wave, and one wrong tool description
  CHANGELOG.md
  docs/ARCHITECTURE.md
  docs/MCP_TOOLS.md
  docs/TESTING.md
  docs/img/solution-architecture-diagram.svg
  src/server/toolSchemas/runSystestClass.ts
  src/tools/knowledge/xppKnowledge.ts
  src/tools/smart/codeGen.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

chore(release): cut 1.15.0
  CHANGELOG.md
Due: none

fix(write): create(table) also dropped indexes; forms named a field group they never checked
  CHANGELOG.md
  eval/README.md
  eval/corpus/runs/2026-08-30T16__L1-form-basic__c7979a6.json
  eval/corpus/runs/2026-08-30T16__L1-form-simplelistdetails__c7979a6.json
  eval/fixtures/ConDemoNoteHeader.metadata.xml
  eval/fixtures/README.md
  eval/golden-build-verification.json
  eval/goldens/L1-form-basic/ConDemoNoteHeader.metadata.xml
  eval/goldens/L1-form-basic/ConDemoNoteHeaderList.metadata.xml
  eval/goldens/L1-form-simplelistdetails/ConDemoNoteHeaderDetails.metadata.xml
  src/tools/xml/formXml.ts
  src/tools/xml/tableXml.ts
  src/tools/xml/xmlTemplateGenerator.ts
  src/utils/fieldControlTypes.ts
  src/utils/formPatternTemplates.ts
  tests/tools/createFallbackParity.test.ts
  tests/tools/xml/formTableCreateFidelity.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

chore(release): fold PR #967 into the 1.15.0 changelog block
  CHANGELOG.md
Due: none

fix(labels): refuse a label file id that cannot be referenced
  src/tools/write/createLabel.ts
  src/utils/labelReference.ts
  tests/tools/labelFileIdValidity.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(tools): give object_patterns a cap that fits a whole recipe
  src/tools/responseCaps.ts
  tests/tools/objectPatternsResponseCap.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(search): answer a multi-word query with names carrying every token
  src/metadata/symbolIndex.ts
  tests/metadata/symbolIndex-substringFallback.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(prepare): stop demanding PascalCase from an extension of a camelCase base
  src/tools/prepare/prepareChange.ts
  src/tools/prepare/prepareCreate.ts
  tests/tools/prepareNamingAgreement.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(find-references): recover calls the 10-line preview cannot see, and stop calling a degraded zero "unused"
  src/tools/analysis/findReferences.ts
  tests/tools/findReferencesDegradedHonesty.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(knowledge): drop the confirm edge the processguide-flow recipe cannot compile
  eval/cases/L3-processguide-flow-slice.json
  src/knowledge/mobileAppPatterns/catalog.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

test(eval): capture the four warehouse mobile-app goldens and sign them off
  README.md
  eval/COVERAGE.md
  eval/cases/L2-processguide-page-control.json
  eval/cases/L3-legacy-workexecutedisplay-extend.json
  eval/cases/L3-processguide-flow-slice.json
  eval/cases/L3-warehouse-scan-resolve-slice.json
  eval/corpus/runs/2026-08-30T16__L2-processguide-page-control__4ec9ba7.json
  eval/corpus/runs/2026-08-30T18__L3-legacy-workexecutedisplay-extend__4ec9ba7.json
  eval/corpus/runs/2026-08-30T18__L3-processguide-flow-slice__4ec9ba7.json
  eval/corpus/runs/2026-08-30T18__L3-warehouse-scan-resolve-slice__4ec9ba7.json
  eval/coverage.json
  eval/goldens/L2-processguide-page-control/ProdProcessGuidePromptProductionIdPageBuilderCon_Extension.metadata.xml
  eval/goldens/L3-legacy-workexecutedisplay-extend/whsWorkExecuteDisplayChangeBatchDispCon_Extension.metadata.xml
  eval/goldens/L3-processguide-flow-slice/ConDemoPackProcessGuideController.metadata.xml
  eval/goldens/L3-processguide-flow-slice/ConDemoPackProcessGuidePromptContainerPageBuilder.metadata.xml
  eval/goldens/L3-processguide-flow-slice/ConDemoPackProcessGuidePromptContainerStep.metadata.xml
  eval/goldens/L3-processguide-flow-slice/ConDemoPackProcessGuideRegisterStep.metadata.xml
  eval/goldens/L3-processguide-flow-slice/WHSWorkExecuteMode.ConExtension.metadata.xml
  eval/goldens/L3-warehouse-scan-resolve-slice/ConDemoScanResolver.metadata.xml
  src/eval/coverage/taxonomy.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

chore(release): fold PR #970 into the 1.15.0 changelog block
  CHANGELOG.md
Due: none

chore(oracles): commit the oracle harness the language work has been running from memory
  package.json
  scripts/oracles/aotMembers.ts
  scripts/oracles/aotSource.ts
  scripts/oracles/census.ts
  scripts/oracles/probes/coverage-v3.ts
  scripts/oracles/probes/coverage-v3b.ts
  scripts/oracles/validatorSweep.ts
  scripts/oracles/xppcProbe.ts
  tests/fixtures/oracles/AxClass/FixtureCustTable_Extension.xml
  tests/fixtures/oracles/AxClass/FixtureLiteralShapes.xml
  tests/fixtures/oracles/AxClass/FixtureSelectShapes.xml
  tests/fixtures/oracles/AxClass/FixtureStaticExtensionClass.xml
  tests/fixtures/oracles/README.md
  tests/tools/patternEnumParity.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data.yml

feat(test): TDD for a TABLE method — the loop's most-asked task had no red-first path
  src/tools/prepare/prepareTest.ts
  src/tools/smart/codeGen.ts
  src/tools/specs/generateObjectOpSpecs.ts
  tests/tools/systestScaffold.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat(validate): five rules that were planned, never shipped, and each cost a real failure
  src/tools/analysis/validateXpp.ts
  tests/tools/validateXppV3Rules.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(validate): seven false positives on Microsoft's own X++, found by the first full sweep
  scripts/capture-compiler-facts.ts
  scripts/oracles/validatorSweep.ts
  src/tools/analysis/validateXpp.ts
  tests/tools/validateXppV3Rules.test.ts
  tests/utils/xppLexer.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat(knowledge): six topics for constructs the taxonomy had no leaf for, each verified before it was written
  eval/COVERAGE.md
  eval/cases/L2-global-statics-access-checks.json
  eval/cases/L2-lookup-reference-multiselect.json
  eval/cases/L2-query-range-expression-sysqueryrangeutil.json
  eval/cases/L2-system-objects-infolog-box.json
  eval/cases/L3-attachment-docuref-pdf.json
  eval/cases/L3-runbase-coc-pack-unpack.json
  eval/cases/L3-sysoperation-query-parameter-batch.json
  eval/cases/L4-ssrs-report-design-rdl.json
  eval/cases/L4-ssrs-report-print-destinations.json
  eval/coverage.json
  eval/knowledge-audit.allow.json
  eval/knowledge-audit.snapshot.json
  src/eval/coverage/taxonomy.ts
  src/knowledge/kernelEnums.ts
  src/tools/knowledge/xppKnowledge.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

docs: record what the v3 wave built, and the three things it deliberately did not
  CHANGELOG.md
  docs/BACKLOG.md
  docs/XPP_LANGUAGE_COVERAGE_PLAN.md
Due: none

docs(eval): the SysTest runner connects — the runtime oracle is live for the first time
  docs/BACKLOG.md
  docs/XPP_LANGUAGE_COVERAGE_PLAN.md
  eval/README.md
  src/eval/coverage/taxonomy.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(validate): narrow OP001 to the operator order that actually differs, and ignore oracle outputs
  .gitignore
  README.md
  scripts/oracles/probes/coverage-v3.ts
  src/tools/analysis/validateXpp.ts
  tests/tools/validateXppV3Rules.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

docs(eval): the warehouse mobile-app cases were captured the next day — the README still said they were not
  eval/README.md
Due: none

fix(knowledge,tools): three findings from the first eval run against this wave's own knowledge
  eval/knowledge-audit.snapshot.json
  src/tools/knowledge/bpMonikerHelp.ts
  src/tools/knowledge/xppKnowledge.ts
  src/tools/write/createLabel.ts
  tests/knowledge/bpMonikers.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(validate,readers,knowledge): five defects from eval runs 2 and 3, and the oracle that caused one of them
  package.json
  scripts/oracles/aotMembers.ts
  scripts/oracles/kernelEnumAudit.ts
  src/knowledge/kernelEnums.ts
  src/tools/knowledge/xppKnowledge.ts
  src/tools/readers/formInfo.ts
  src/tools/write/resolveReferences.ts
  tests/tools/formInfo.test.ts
  tests/tools/resolve-references.test.ts
  tests/tools/xmlEnumKernelRefs.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(bridge,write,validate): five more defects from eval run 4, one of which hid a public API
  eval/cases/L2-global-statics-access-checks.json
  eval/cases/L2-lookup-reference-multiselect.json
  eval/cases/L2-query-range-expression-sysqueryrangeutil.json
  eval/cases/L2-system-objects-infolog-box.json
  eval/cases/L3-runbase-coc-pack-unpack.json
  src/bridge/bridgeAdapter.ts
  src/knowledge/kernelEnums.ts
  src/tools/knowledge/xppKnowledge.ts
  src/utils/modelClassifier.ts
  src/utils/objectNamingRules.ts
  tests/bridge/completionMemberLine.test.ts
  tests/utils/applyObjectPrefix.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(knowledge): two RunBase errors an eval run paid a build cycle for, plus a name-collision guard
  eval/corpus/runs/2026-08-31T08__L2-global-statics-access-checks__9045b22.json
  eval/corpus/runs/2026-08-31T08__L2-lookup-reference-multiselect__9045b22.json
  eval/corpus/runs/2026-08-31T08__L2-system-objects-infolog-box__cbd96a4.json
  eval/corpus/runs/2026-08-31T09__L2-query-range-expression-sysqueryrangeutil__9045b22.json
  eval/corpus/runs/2026-08-31T09__L3-runbase-coc-pack-unpack__6322622.json
  eval/goldens/L2-global-statics-access-checks/ConDemoGlobalAccessProbe.metadata.xml
  eval/goldens/L2-global-statics-access-checks/README.md
  eval/goldens/L2-lookup-reference-multiselect/CustTableFormCon_Extension.metadata.xml
  eval/goldens/L2-query-range-expression-sysqueryrangeutil/ConDemoQueryRanges.metadata.xml
  eval/goldens/L2-query-range-expression-sysqueryrangeutil/ConDemoRangesCon_Extension.metadata.xml
  eval/goldens/L2-query-range-expression-sysqueryrangeutil/README.md
  eval/goldens/L2-system-objects-infolog-box/ConDemoSystemInteraction.metadata.xml
  eval/goldens/L3-runbase-coc-pack-unpack/ConDemoLegacyNoteJob.metadata.xml
  eval/goldens/L3-runbase-coc-pack-unpack/README.md
  eval/knowledge-audit.snapshot.json
  src/tools/knowledge/xppKnowledge.ts
  tests/eval/goldenNameCollision.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(knowledge): attachFile takes nine arguments — the eight-argument call compiles and stores the wrong field
  eval/cases/L3-attachment-docuref-pdf.json
  eval/corpus/runs/2026-08-31T10__L3-attachment-docuref-pdf__d2da751.json
  eval/goldens/L3-attachment-docuref-pdf/ConDemoAttachmentManager.metadata.xml
  eval/knowledge-audit.snapshot.json
  scripts/oracles/xppcProbe.ts
  src/tools/knowledge/xppKnowledge.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(write): create(class) silently dropped every multi-line attribute block — and it had already corrupted a golden
  README.md
  eval/COVERAGE.md
  eval/cases/L3-sysoperation-dialog-attributes.json
  eval/cases/L3-sysoperation-query-parameter-batch.json
  eval/corpus/runs/2026-08-31T10__L3-sysoperation-query-parameter-batch__06f974f.json
  eval/coverage.json
  eval/goldens/L3-sysoperation-dialog-attributes/ConDemoRebateContract.metadata.xml
  eval/goldens/L3-sysoperation-dialog-attributes/ConDemoRebateController.metadata.xml
  eval/goldens/L3-sysoperation-dialog-attributes/ConDemoRebateService.metadata.xml
  eval/goldens/L3-sysoperation-query-parameter-batch/ConDemoJobHistoryScanContract.metadata.xml
  eval/goldens/L3-sysoperation-query-parameter-batch/ConDemoJobHistoryScanController.metadata.xml
  eval/goldens/L3-sysoperation-query-parameter-batch/ConDemoJobHistoryScanService.metadata.xml
  eval/goldens/L3-sysoperation-query-parameter-batch/README.md
  src/tools/xml/xmlTemplateGenerator.ts
  tests/tools/multiLineAttributeSplit.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

test(eval): a golden must keep the attributes its own case asks for
  tests/eval/goldenAttributeIntegrity.test.ts
Due: none

fix(search,knowledge): search(type=...) returned the wrong types confidently, and the e-mail contract trap
  eval/cases/L4-ssrs-report-print-destinations.json
  eval/corpus/runs/2026-08-31T11__L4-ssrs-report-print-destinations__265cf74.json
  eval/goldens/L4-ssrs-report-print-destinations/ConDemoReportDestinationController.metadata.xml
  eval/goldens/L4-ssrs-report-print-destinations/README.md
  eval/knowledge-audit.snapshot.json
  src/bridge/bridgeAdapter.ts
  src/tools/knowledge/xppKnowledge.ts
  tests/tools/bridge-search.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(oracles): the probe harness left its generated metadata behind
  scripts/oracles/xppcProbe.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data.yml

docs(changelog): what the golden-capture runs found
  CHANGELOG.md
Due: none

fix(eval,reports): report goldens were unreproducible, and the scaffold made the group key unique
  eval/cases/L4-ssrs-report-design-rdl.json
  eval/corpus/runs/2026-08-31T11__L4-ssrs-report-design-rdl__993eb10.json
  eval/goldens/L4-ssrs-report-design-rdl/ConDemoCreditLimitReport.menuitem.metadata.xml
  eval/goldens/L4-ssrs-report-design-rdl/ConDemoCreditLimitReport.metadata.xml
  eval/goldens/L4-ssrs-report-design-rdl/ConDemoCreditLimitReportContract.metadata.xml
  eval/goldens/L4-ssrs-report-design-rdl/ConDemoCreditLimitReportController.metadata.xml
  eval/goldens/L4-ssrs-report-design-rdl/ConDemoCreditLimitReportDP.metadata.xml
  eval/goldens/L4-ssrs-report-design-rdl/ConDemoCreditLimitReportTmp.metadata.xml
  eval/goldens/L4-ssrs-report-design-rdl/README.md
  src/eval/oracle/normalize.ts
  src/tools/smart/generateSmartReport.ts
  tests/eval/rdlGeneratedIds.test.ts
  tests/tools/generateSmartReport.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

docs(plan): nine of nine captured, and what the runs were actually worth
  docs/XPP_LANGUAGE_COVERAGE_PLAN.md
Due: none

docs(eval): a SysTest has actually executed — and what that still does not prove
  eval/README.md
Due: none

fix(oracles,eval): CodeQL's two high-severity findings, and the stale coverage matrix
  README.md
  eval/COVERAGE.md
  eval/coverage.json
  scripts/oracles/census.ts
  scripts/oracles/xppcProbe.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data.yml

test(eval): the runtime oracle discriminates — negative control, run on the VM
  eval/README.md
  tests/eval/systestNegativeControl.test.ts
  tests/fixtures/systest/negative-control.xml
Due: none

fix(eval): a corpus record has been silently dropped since July — and nothing said so
  eval/README.md
  eval/corpus/runs/2026-07-07T14__L4-headerlines-document-slice__cb1b73d.json
  tests/eval/corpusRecordsParse.test.ts
Due: none
