Repository dynamics365ninja/d365fo-mcp-server: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Path conditions:
  .azure-pipelines/azure-pipelines.yml: any of: src, scripts, azure-pipelines.yml
  .azure-pipelines/d365fo-mcp-data-build-custom.yml: any of: src, .azure-pipelines/d365fo-mcp-data-quick.yml
  .azure-pipelines/d365fo-mcp-data-quick.yml: any of: src, .azure-pipelines/d365fo-mcp-data-quick.yml
  .azure-pipelines/d365fo-mcp-data.yml: any of: src, scripts, d365fo-mcp-data.yml

test: fix search tool tests to use getFuzzy mock
  tests/tools/search.test.ts
Due: none

test: add getFuzzy mock to transport test
  tests/server/transport.test.ts
Due: none

test: fix TypeScript errors - add missing context properties
  tests/server/transport.test.ts
  tests/tools/search.test.ts
Due: none

feat: implement Priority 3 - Batch Search Tool
  .github/copilot-instructions.md
  src/server/mcpServer.ts
  src/tools/batchSearch.ts
  src/tools/toolHandler.ts
  tests/tools/batchSearch.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

docs: update TODO_OPTIMIZATION - mark Priority 3 complete
  TODO_OPTIMIZATION.md
Due: none

feat: Implement intelligent search suggestions and fuzzy matching utilities
  .github/copilot-instructions.md
  README.md
  src/index.ts
  src/metadata/symbolIndex.ts
  src/tools/search.ts
  src/types/context.ts
  src/utils/fuzzyMatching.ts
  src/utils/suggestionEngine.ts
  tests/server/transport.test.ts
  tests/tools/batchSearch.test.ts
  tests/tools/search.test.ts
  tests/tools/searchSuggestions.test.ts
  tests/utils/fuzzyMatching.test.ts
  tests/utils/suggestionEngine.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: Optimize memory usage and search suggestions in pipelines and server
  .azure-pipelines/d365fo-mcp-data-build-custom.yml
  .azure-pipelines/d365fo-mcp-data-build-standard.yml
  .azure-pipelines/d365fo-mcp-data-platform-upgrade.yml
  .env.example
  README.md
  docs/PIPELINES.md
  src/index.ts
  src/metadata/symbolIndex.ts
  src/tools/search.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: Enhance usage statistics computation with conditional execution and performance optimizations
  .env.example
  scripts/build-database.ts
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: Add progress logging for method call parsing in symbol indexing
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: Remove TODO_OPTIMIZATION.md as optimization strategies have been implemented
  TODO_OPTIMIZATION.md
Due: none

fix: extractionMode all now processes both standard and custom models
  .azure-pipelines/d365fo-mcp-data-build-custom.yml
  scripts/extract-metadata.ts
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: Add error handling and fix prepared statement caching in symbolIndex
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

refactor: Reduce verbose logging in Azure Blob operations
  scripts/azure-blob-manager.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data.yml

refactor: Remove all progress logging during upload operations
  scripts/azure-blob-manager.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data.yml

refactor: Remove detailed progress from indexing, show only current model
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: Process each model in separate transaction to prevent memory issues
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

perf: Use batch transactions (20 models/batch) to balance speed and memory
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

debug: Add detailed error handling and timing for batch processing
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

perf: Reduce batch size to 5 and add WAL checkpoints
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: optimize computeUsageStatistics SQL to prevent hanging
  scripts/build-database.ts
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

perf: optimize Azure Pipeline for 350+ models
  .azure-pipelines/d365fo-mcp-data-build-custom.yml
  .azure-pipelines/d365fo-mcp-data-build-standard.yml
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: enhance usage statistics SQL processing with hang detection and optimized batch handling
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: detect Azure Pipelines CI environment (TF_BUILD)
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

perf: optimize usage statistics computation for 300k+ methods
  .azure-pipelines/d365fo-mcp-data-build-custom.yml
  .azure-pipelines/d365fo-mcp-data-build-standard.yml
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: separate transactions per model to handle large models
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

perf: optimize large model indexing with progress feedback
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

perf: implement chunked transactions for indexing huge models to prevent memory exhaustion
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: improve progress visibility in Azure Pipelines
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: reduce chunk size in CI to prevent memory exhaustion
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: reduce CI chunk size to 50 classes
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

perf: optimize batch size and remove excessive checkpoints
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

perf: increase NODE_OPTIONS heap size to 8GB for improved indexing performance
  .azure-pipelines/d365fo-mcp-data-build-custom.yml
  .azure-pipelines/d365fo-mcp-data-build-standard.yml
  .azure-pipelines/d365fo-mcp-data-platform-upgrade.yml
  README.md
  docs/ARCHITECTURE.md
  docs/FILTERING.md
  docs/ORCHESTRATOR_SETUP.md
  docs/PIPELINES.md
  docs/SETUP.md
  docs/TESTING.md
  docs/USAGE_EXAMPLES.md
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

perf: reduce NODE_OPTIONS heap size to 4GB for improved memory management in pipelines
  .azure-pipelines/d365fo-mcp-data-build-custom.yml
  .azure-pipelines/d365fo-mcp-data-build-standard.yml
  .azure-pipelines/d365fo-mcp-data-platform-upgrade.yml
  README.md
  package-lock.json
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

perf: massive build-database speedup + fix GitHub Copilot hanging + improve tool selection
  .azure-pipelines/d365fo-mcp-data-build-standard.yml
  .env.example
  scripts/azure-blob-manager.ts
  scripts/build-database.ts
  src/index.ts
  src/metadata/symbolIndex.ts
  src/prompts/systemInstructions.ts
  src/server/transport.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

perf: optimize database build by disabling statistics computation and reducing memory usage
  .azure-pipelines/d365fo-mcp-data-build-custom.yml
  .azure-pipelines/d365fo-mcp-data-build-standard.yml
  .azure-pipelines/d365fo-mcp-data-platform-upgrade.yml
  docs/MCP_TOOLS.md
Due: none

refactor: reorder variable declarations for improved readability in tool functions
  src/tools/analyzeCompleteness.ts
  src/tools/analyzePatterns.ts
  src/tools/apiUsagePatterns.ts
  src/tools/classInfo.ts
  src/tools/codeGen.ts
  src/tools/completion.ts
  src/tools/extensionSearch.ts
  src/tools/search.ts
  src/tools/suggestImplementation.ts
  src/tools/tableInfo.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: code_completion parameter and HTTP response handling
  src/prompts/systemInstructions.ts
  src/server/mcpServer.ts
  src/server/transport.ts
  tests/utils/modelClassifier.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: use res.write + res.end with Connection:close for Azure
  src/server/transport.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: use stdout for informational logs instead of stderr
  src/server/transport.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: simplify HTTP response with res.end(payload)
  src/server/transport.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml
