Repository dynamics365ninja/d365fo-mcp-server: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

.azure-pipelines/azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Prepare
    displayName: Prepare Environment
    jobs:
    - job: PrepareJob
      displayName: Setup and Download Standard Metadata
      steps:
      - checkout: self
        displayName: Checkout repository
      - task: NodeTool@0
  ...

.azure-pipelines/d365fo-mcp-data-build-custom.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ProcessMetadata
    displayName: Process Metadata
    jobs:
    - job: ProcessJob
      displayName: Extract, Build, and Upload
      steps:
      - checkout: self
        displayName: Checkout D365FO source code
        clean: true
      - checkout: mcpServer
  ...

.azure-pipelines/d365fo-mcp-data-quick.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ProcessMetadata
    displayName: Process Metadata
    jobs:
    - job: ProcessJob
      displayName: Extract, Build, and Upload
      steps:
      - checkout: mcpServer
        displayName: Checkout MCP Server code from GitHub
        clean: true
  ...

.azure-pipelines/d365fo-mcp-data.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ProcessAll
    displayName: Process Custom Metadata
    jobs:
    - job: ProcessJob
      displayName: Download → Extract → Build → Upload → Restart
      steps:
      - checkout: self
        displayName: Checkout D365FO source code
        path: d365fo-source
  ...

test(eval): L4-ssrs-report-parameters — the report-design operation, proven end to end
  eval/COVERAGE.md
  eval/cases/L4-ssrs-report-parameters.json
  eval/coverage.json
  eval/goldens/L4-ssrs-report-parameters/ConDemoRptParam.metadata.xml
  eval/goldens/L4-ssrs-report-parameters/ConDemoRptParamContract.metadata.xml
  eval/goldens/L4-ssrs-report-parameters/ConDemoRptParamDP.metadata.xml
  eval/goldens/L4-ssrs-report-parameters/ConDemoRptParamTmp.metadata.xml
  eval/goldens/L4-ssrs-report-parameters/README.md
  src/eval/coverage/taxonomy.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

test(eval): capture L4-tdd-report-dp with a red-then-green runtime oracle
  eval/COVERAGE.md
  eval/cases/L4-tdd-report-dp.json
  eval/coverage.json
  eval/goldens/L4-tdd-report-dp/ConDemoDpTest.metadata.xml
  eval/goldens/L4-tdd-report-dp/ConDemoDpTestContract.metadata.xml
  eval/goldens/L4-tdd-report-dp/ConDemoDpTestDP.metadata.xml
  eval/goldens/L4-tdd-report-dp/ConDemoDpTestDPTest.metadata.xml
  eval/goldens/L4-tdd-report-dp/ConDemoDpTestTmp.metadata.xml
  eval/goldens/L4-tdd-report-dp/README.md
  eval/systests/L4-tdd-report-dp.xml
  src/eval/coverage/taxonomy.ts
  src/tools/knowledge/xppKnowledge.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(modify): let add-field write a container field
  src/tools/specs/d365foFileOpSpecs.ts
  src/tools/write/modifyD365File.ts
  tests/tools/addFieldContainer.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

test(eval): the last two §6.7 report cases — print format and logo+barcode
  docs/XPP_LANGUAGE_COVERAGE_PLAN.md
  eval/COVERAGE.md
  eval/cases/L3-print-mgmt-publish-format.json
  eval/cases/L4-ssrs-report-logo-barcode.json
  eval/coverage.json
  eval/goldens/L3-print-mgmt-publish-format/ConDemoPrintFmt.metadata.xml
  eval/goldens/L3-print-mgmt-publish-format/ConDemoPrintFmtContract.metadata.xml
  eval/goldens/L3-print-mgmt-publish-format/ConDemoPrintFmtDP.metadata.xml
  eval/goldens/L3-print-mgmt-publish-format/ConDemoPrintFmtHandler.metadata.xml
  eval/goldens/L3-print-mgmt-publish-format/ConDemoPrintFmtTmp.metadata.xml
  eval/goldens/L3-print-mgmt-publish-format/README.md
  eval/goldens/L4-ssrs-report-logo-barcode/ConDemoLogoBc.metadata.xml
  eval/goldens/L4-ssrs-report-logo-barcode/ConDemoLogoBcContract.metadata.xml
  eval/goldens/L4-ssrs-report-logo-barcode/ConDemoLogoBcDP.metadata.xml
  eval/goldens/L4-ssrs-report-logo-barcode/ConDemoLogoBcTmp.metadata.xml
  eval/goldens/L4-ssrs-report-logo-barcode/README.md
  eval/knowledge-audit.snapshot.json
  src/eval/coverage/taxonomy.ts
  src/tools/knowledge/xppKnowledge.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat(testing): H2 — the SysTest attributes tests actually carry, and ATL
  docs/XPP_LANGUAGE_COVERAGE_PLAN.md
  eval/COVERAGE.md
  eval/cases/L2-systest-attributes-isolation.json
  eval/cases/L3-test-data-atl.json
  eval/coverage.json
  eval/goldens/L2-systest-attributes-isolation/ConDemoIsolationTest.metadata.xml
  eval/goldens/L2-systest-attributes-isolation/README.md
  eval/goldens/L3-test-data-atl/ConDemoAtlDataTest.metadata.xml
  eval/goldens/L3-test-data-atl/README.md
  eval/knowledge-audit.snapshot.json
  eval/systests/L2-systest-attributes-isolation.negative-control.xml
  eval/systests/L2-systest-attributes-isolation.xml
  eval/systests/L3-test-data-atl.xml
  package.json
  scripts/oracles/atlNodes.ts
  src/eval/coverage/taxonomy.ts
  src/knowledge/atlNodes.generated.ts
  src/tools/knowledge/xppKnowledge.ts
  src/tools/prepare/prepareTest.ts
  src/tools/smart/codeGen.ts
  src/tools/specs/generateObjectOpSpecs.ts
  tests/eval/isolationRollbackControl.test.ts
  tests/tools/sysTestAttributesAndAtl.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat(knowledge): H4 catalogs — G-10, G-12, G-14, G-15, G-17, G-18
  docs/XPP_LANGUAGE_COVERAGE_PLAN.md
  eval/COVERAGE.md
  eval/coverage.json
  eval/knowledge-audit.allow.json
  eval/knowledge-audit.snapshot.json
  package.json
  scripts/oracles/atlNodes.ts
  scripts/oracles/probes/coverage-v4h.ts
  scripts/oracles/usageCensus.ts
  src/eval/coverage/taxonomy.ts
  src/tools/knowledge/xppKnowledge.ts
  src/tools/specs/generateObjectOpSpecs.ts
  tests/tools/sysTestAttributesAndAtl.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(oracle): compile the census pattern once, and refuse the shapes that hang
  scripts/oracles/usageCensus.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data.yml

feat(coverage): H5 breadth — 11 gaps, and two validator rules the census rewrote
  docs/ARCHITECTURE.md
  docs/XPP_LANGUAGE_COVERAGE_PLAN.md
  eval/COVERAGE.md
  eval/coverage.json
  eval/knowledge-audit.allow.json
  eval/knowledge-audit.snapshot.json
  scripts/oracles/usageCensus.ts
  scripts/oracles/validatorSweep.ts
  src/eval/coverage/taxonomy.ts
  src/tools/analysis/validateXpp.ts
  src/tools/knowledge/xppKnowledge.ts
  tests/knowledge/intrinsicCatalog.test.ts
  tests/tools/validateXppTstRules.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

test(eval): G-02 — anytype CAN be re-typed at run time, measured
  docs/XPP_LANGUAGE_COVERAGE_PLAN.md
  eval/COVERAGE.md
  eval/cases/L2-anytype-retyping-runtime.json
  eval/coverage.json
  eval/goldens/L2-anytype-retyping-runtime/ConDemoAnytypeTest.metadata.xml
  eval/goldens/L2-anytype-retyping-runtime/README.md
  eval/knowledge-audit.snapshot.json
  eval/systests/L2-anytype-retyping-runtime.xml
  src/eval/coverage/taxonomy.ts
  src/tools/knowledge/xppKnowledge.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

test(eval): H6 — the red-green pair, and the tdd-workflow entry H1 never wrote
  docs/XPP_LANGUAGE_COVERAGE_PLAN.md
  eval/COVERAGE.md
  eval/cases/L2-tdd-red-green-cycle.json
  eval/coverage.json
  eval/goldens/L2-tdd-red-green-cycle/ConDemoDiscount.metadata.xml
  eval/goldens/L2-tdd-red-green-cycle/ConDemoDiscountTest.metadata.xml
  eval/goldens/L2-tdd-red-green-cycle/README.md
  eval/knowledge-audit.snapshot.json
  eval/systests/L2-tdd-red-green-cycle.red.xml
  eval/systests/L2-tdd-red-green-cycle.xml
  src/eval/coverage/taxonomy.ts
  src/tools/knowledge/xppKnowledge.ts
  tests/eval/redGreenCycle.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

docs: delete the v4 coverage plan under its own lifecycle rule
  CHANGELOG.md
  docs/BACKLOG.md
  docs/XPP_LANGUAGE_COVERAGE_PLAN.md
Due: none

chore: update npm packages
  package-lock.json
Due: none

fix: restore missing biome linux-x64 lockfile entries
  package-lock.json
Due: none

fix(report-design, validator): the four findings of the 1.16.2→HEAD release audit
  CHANGELOG.md
  eval/goldens/L4-ssrs-report-parameters/ConDemoRptParam.metadata.xml
  eval/goldens/L4-ssrs-report-parameters/README.md
  eval/knowledge-audit.snapshot.json
  src/tools/analysis/validateXpp.ts
  src/tools/knowledge/xppKnowledge.ts
  src/tools/write/reportDesignXml.ts
  tests/tools/reportDesignXml.test.ts
  tests/tools/validateXppAttr003.test.ts
  tests/tools/validateXppTstRules.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

chore(release): 1.17.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(installer): do not fail when the K: drive does not exist
  CHANGELOG.md
  install.ps1
Due: none

chore(release): 1.17.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(config): log workspace detection only when it finds a conflict
  CHANGELOG.md
  src/utils/configManager.ts
  tests/utils/detectionConflictLog.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(detect): bound the AosService drive scan and skip profile folders in the .rnrproj walk
  CHANGELOG.md
  docs/CONFIGURATION.md
  docs/MCP_CONFIG.md
  src/config/settings.ts
  src/utils/packagesRoot.ts
  src/utils/workspaceDetector.ts
  tests/utils/packagesRootBounded.test.ts
  tests/utils/workspaceDetectorSkipDirs.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(startup): run first-start metadata indexing on a worker thread
  CHANGELOG.md
  package.json
  src/index.ts
  src/metadata/startupIndexWorker.ts
  src/metadata/startupIndexing.ts
  src/tools/toolHandler.ts
  tests/fixtures/fakeStartupIndexWorker.mjs
  tests/metadata/startupIndexing.test.ts
  tests/packaging/publishedFiles.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(startup, readers): the three defects behind a 337 s first call
  src/index.ts
  src/metadata/symbolIndex.ts
  src/server/serverMode.ts
  src/tools/readers/getObjectInfo.ts
  src/tools/readers/objectXml.ts
  src/tools/toolHandler.ts
  src/utils/indexStaleness.ts
  src/utils/objectFileLookup.ts
  src/utils/progressReporter.ts
  src/workspace/contextSnapshot.ts
  tests/metadata/modelObjectNamesSample.test.ts
  tests/tools/dbFreeToolGate.test.ts
  tests/tools/objectXmlAndTiming.test.ts
  tests/utils/indexStaleness.test.ts
  tests/utils/progressReporter.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

docs(comments): placeholder model names in getModelObjectNames
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

chore(release): 1.17.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: finish the fixture anonymisation the July pass started
  eval/corpus/runs/2026-08-31T23__L2-coc-extension__278eee3.json
  eval/systests/L2-systest-attributes-isolation.negative-control.xml
  eval/systests/L2-tdd-red-green-cycle.red.xml
  scripts/test-stdio.ts
  src/tools/analysis/searchLabels.ts
  src/tools/write/resolveReferences.ts
  src/utils/objectNamingRules.ts
  tests/fixtures/systest/negative-control.xml
  tests/metadata/searchCustomExtensions.test.ts
  tests/tools/buildDiagnostics.test.ts
  tests/tools/cocNextUnconditional.test.ts
  tests/tools/createLabelIncrementalFts.test.ts
  tests/tools/fieldGroupRenderHint.test.ts
  tests/tools/labelSearchDiskCheck.test.ts
  tests/tools/modifyBatchOperations.test.ts
  tests/tools/namingExtensionTypeInference.test.ts
  tests/tools/prepareRepeatSuppression.test.ts
  tests/tools/resolve-references.test.ts
  tests/tools/sysTestRunner.test.ts
  tests/tools/tableCocPreImage.test.ts
  tests/tools/writeTimeXppValidation.test.ts
  tests/tools/xpp-knowledge.test.ts
  tests/utils/buildMarker.test.ts
  tests/utils/packageResolverProbe.test.ts
  tests/utils/solutionsPathAmbiguity.test.ts
  tests/validation/addControlDataGroup.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

docs(security): record GHSA-8764-fh3m-wf7g in the 1.11.0 notes and SECURITY.md
  CHANGELOG.md
  SECURITY.md
Due: none

fix(find-references): stop the fallback reporting a confident zero
  src/server/toolSchemas/findReferences.ts
  src/tools/analysis/findReferences.ts
  tests/tools/edt-references.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(xref): decode Kind, return EDT where-used, detect CoC from [ExtensionOf]
  bridge/D365MetadataBridge/Models/Models.cs
  bridge/D365MetadataBridge/Services/CrossReferenceService.cs
  bridge/build-attestation.json
  src/bridge/bridgeAdapter.ts
  src/bridge/bridgeTypes.ts
  tests/tools/coc-extension-grouping.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(startup, index): the two unbounded costs left on a first call, and retire the misplanned index
  CHANGELOG.md
  scripts/build-database.ts
  scripts/build-fts.ts
  src/cli/commands/doctor.ts
  src/index.ts
  src/metadata/buildIndexWorker.ts
  src/metadata/startupIndexWorker.ts
  src/metadata/startupIndexing.ts
  src/metadata/symbolIndex.ts
  src/tools/prepare/prepareCreate.ts
  src/tools/toolHandler.ts
  src/utils/configManager.ts
  src/utils/packagesRoot.ts
  src/utils/startupProgress.ts
  tests/metadata/filePathIndexBuildMode.test.ts
  tests/metadata/modelObjectNamesSample.test.ts
  tests/tools/dbFreeToolGate.test.ts
  tests/utils/packagesRootAsync.test.ts
  tests/utils/startupProgress.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(find_references): a bridge "empty" for an EDT is a zero, not an unknown
  src/bridge/bridgeAdapter.ts
  src/tools/analysis/findReferences.ts
  tests/tools/edt-references.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(xref): escape LIKE metacharacters, and count the list that is printed
  bridge/D365MetadataBridge/Services/CrossReferenceService.cs
  bridge/build-attestation.json
  src/bridge/bridgeAdapter.ts
  tests/tools/coc-extension-grouping.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

chore(release): bump version to 1.17.4, update dependency lockfile
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix(index): store a table field's EDT in the full build, so its length survives without the bridge
  CHANGELOG.md
  src/metadata/symbolIndex.ts
  src/tools/readers/edtInfo.ts
  src/tools/readers/tableInfo.ts
  src/tools/smart/generateSmartTable.ts
  src/tools/write/modifyD365File.ts
  tests/tools/tableInfoIndexedFieldSize.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

chore(release): bump version to 1.18.0, update dependency lockfile
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

perf(search): stream FTS hits in rank order instead of sorting on the score expression
  CHANGELOG.md
  src/metadata/symbolIndex.ts
  src/tools/readers/edtInfo.ts
  tests/tools/tableInfoIndexedFieldSize.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat(benchmark): model × MCP benchmark with graphical report
  .gitignore
  CHANGELOG.md
  README.md
  docs/BENCHMARK.md
  eval/benchmark/README.md
  eval/benchmark/credits.json
  eval/benchmark/prompts/coc-salesline-validatewrite.json
  eval/benchmark/prompts/grounding-custtable-accountnum.json
  eval/benchmark/prompts/numberseq-new-module.json
  eval/benchmark/runs/.gitkeep
  eval/benchmark/schema.json
  package.json
  src/benchmark/aggregate.ts
  src/benchmark/claudeCode.ts
  src/benchmark/credits.ts
  src/benchmark/ingest.ts
  src/benchmark/prompts.ts
  src/benchmark/report/html.ts
  src/benchmark/report/markdown.ts
  src/benchmark/report/model.ts
  src/benchmark/report/svg.ts
  src/benchmark/store.ts
  src/benchmark/types.ts
  src/cli/commands/benchmark.ts
  src/cli/index.ts
  tests/benchmark/aggregate.test.ts
  tests/benchmark/claudeCode.test.ts
  tests/benchmark/credits.test.ts
  tests/benchmark/fixtures/claude-code-stream.jsonl
  tests/benchmark/ingest.test.ts
  tests/benchmark/prompts.test.ts
  tests/benchmark/report.test.ts
  tests/benchmark/store.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat(benchmark): lead the report with the MCP effect per model
  CHANGELOG.md
  docs/BENCHMARK.md
  src/benchmark/aggregate.ts
  src/benchmark/report/html.ts
  src/benchmark/report/markdown.ts
  src/benchmark/report/model.ts
  src/benchmark/report/svg.ts
  tests/benchmark/aggregate.test.ts
  tests/benchmark/report.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(benchmark): import the JSON record helper from a published tree
  src/benchmark/credits.ts
  src/benchmark/prompts.ts
  src/benchmark/store.ts
  src/eval/improver/corpusIO.ts
  src/utils/jsonRecords.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(benchmark): open the report without a shell, quote cmd arguments
  src/benchmark/claudeCode.ts
  src/cli/commands/benchmark.ts
  tests/benchmark/claudeCode.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat(benchmark): sandbox runs for write prompts + three reference use-cases
  CHANGELOG.md
  docs/BENCHMARK.md
  eval/benchmark/README.md
  eval/benchmark/prompts/ref-credit-hold-extension.json
  eval/benchmark/prompts/ref-overdue-batch-ssrs.json
  eval/benchmark/prompts/ref-vendor-certificate-register.json
  eval/benchmark/schema.json
  src/benchmark/claudeCode.ts
  src/benchmark/mcpTarget.ts
  src/benchmark/prompts.ts
  src/benchmark/sandbox.ts
  src/benchmark/store.ts
  src/benchmark/types.ts
  src/cli/commands/benchmark.ts
  tests/benchmark/claudeCode.test.ts
  tests/benchmark/mcpTarget.test.ts
  tests/benchmark/prompts.test.ts
  tests/benchmark/sandbox.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix(benchmark): clean stale sandbox index rows, keep artifacts; first reference run
  .gitignore
  docs/BENCHMARK.md
  eval/benchmark/prompts/ref-vendor-certificate-register.json
  eval/benchmark/runs/2026-10-09T10-25__ref-credit-hold-extension__claude-code__claude-sonnet-5-5__plain__44c4e3.json
  eval/benchmark/runs/2026-10-09T10-31__ref-overdue-batch-ssrs__claude-code__claude-sonnet-5-5__plain__d2e266.json
  eval/benchmark/runs/2026-10-09T10-45__ref-credit-hold-extension__claude-code__claude-sonnet-5-5__mcp__2df033.json
  eval/benchmark/runs/2026-10-09T10-49__ref-overdue-batch-ssrs__claude-code__claude-sonnet-5-5__mcp__61a83b.json
  eval/benchmark/runs/2026-10-09T10-56__ref-vendor-certificate-register__claude-code__claude-sonnet-5-5__mcp__76bab2.json
  eval/benchmark/runs/2026-10-09T11-00__ref-vendor-certificate-register__claude-code__claude-sonnet-5-5__plain__2bd697.json
  src/benchmark/claudeCode.ts
  src/benchmark/mcpTarget.ts
  src/cli/commands/benchmark.ts
  tests/benchmark/claudeCode.test.ts
  tests/benchmark/mcpTarget.test.ts
  tests/benchmark/prompts.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Path conditions:
  .azure-pipelines/azure-pipelines.yml: any of: src, scripts, azure-pipelines.yml
  .azure-pipelines/d365fo-mcp-data-build-custom.yml: any of: src, .azure-pipelines/d365fo-mcp-data-quick.yml
  .azure-pipelines/d365fo-mcp-data-quick.yml: any of: src, .azure-pipelines/d365fo-mcp-data-quick.yml
  .azure-pipelines/d365fo-mcp-data.yml: any of: src, scripts, d365fo-mcp-data.yml
