Repository dynamics365ninja/d365fo-mcp-server: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

.azure-pipelines/azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Prepare
    displayName: Prepare Environment
    jobs:
    - job: PrepareJob
      displayName: Setup and Download Standard Metadata
      steps:
      - checkout: self
        displayName: Checkout repository
      - task: NodeTool@0
  ...

.azure-pipelines/d365fo-mcp-data-build-custom.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ProcessMetadata
    displayName: Process Metadata
    jobs:
    - job: ProcessJob
      displayName: Extract, Build, and Upload
      steps:
      - checkout: self
        displayName: Checkout D365FO source code
        clean: true
      - checkout: mcpServer
  ...

.azure-pipelines/d365fo-mcp-data-quick.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ProcessMetadata
    displayName: Process Metadata
    jobs:
    - job: ProcessJob
      displayName: Extract, Build, and Upload
      steps:
      - checkout: mcpServer
        displayName: Checkout MCP Server code from GitHub
        clean: true
  ...

.azure-pipelines/d365fo-mcp-data.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: ProcessAll
    displayName: Process Custom Metadata
    jobs:
    - job: ProcessJob
      displayName: Download → Extract → Build → Upload → Restart
      steps:
      - checkout: self
        displayName: Checkout D365FO source code
        path: d365fo-source
  ...

fix: Wait for Redis connection before checking status
  src/cache/redisCache.ts
  src/index.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: Remove unnecessary connecting state management in Redis initialization
  src/cache/redisCache.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: Add system instructions prompt for GitHub Copilot in VS 2022
  README.md
  docs/ORCHESTRATOR_SETUP.md
  src/prompts/codeReview.ts
  src/prompts/index.ts
  src/prompts/systemInstructions.ts
  src/server/mcpServer.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

docs: Translate ORCHESTRATOR_SETUP.md to English
  docs/ORCHESTRATOR_SETUP.md
Due: none

docs: fix documentation inaccuracies
  .env.example
  docs/ORCHESTRATOR_SETUP.md
  docs/SETUP.md
Due: none

Fix: Enforce automatic MCP tool usage in GitHub Copilot
  .azure-pipelines/d365fo-mcp-data-build-custom.yml
  .github/copilot-instructions.md
  README.md
  docs/ORCHESTRATOR_SETUP.md
  docs/SYSTEM_INSTRUCTIONS.md
  nuget-config/README.md
  src/prompts/systemInstructions.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: Implement custom key generator for rate limiters to handle IP addresses with ports
  src/middleware/rateLimiter.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: Add intelligent code generation tools with pattern analysis
  .github/copilot-instructions.md
  README.md
  docs/ARCHITECTURE.md
  docs/ORCHESTRATOR_SETUP.md
  docs/PERFORMANCE.md
  docs/PIPELINES.md
  docs/SETUP.md
  docs/SYSTEM_INSTRUCTIONS.md
  docs/TESTING.md
  docs/USAGE_EXAMPLES.md
  scripts/build-database.ts
  src/metadata/enhancedParser.ts
  src/metadata/symbolIndex.ts
  src/metadata/types.ts
  src/tools/analyzeCompleteness.ts
  src/tools/analyzePatterns.ts
  src/tools/apiUsagePatterns.ts
  src/tools/suggestImplementation.ts
  src/tools/toolHandler.ts
  src/tools/xppTools.ts
  tests/tools/intelligentTools.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: Use ipKeyGenerator helper for IPv6-safe rate limiting
  src/middleware/rateLimiter.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: Register 4 new intelligent tools in MCP server tool list
  src/server/mcpServer.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: Update tools list to include new intelligent code generation tools
  scripts/test-tools-list.ps1
  src/index.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: Integrate stdio transport for MCP client and enhance logging
  src/index.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: Implement Azure MCP proxy and add testing scripts for stdio and Azure endpoints
  scripts/azure-mcp-proxy.js
  scripts/test-azure-mcp.ps1
  scripts/test-proxy.ps1
  src/index.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: Add intelligent tools to HTTP transport layer
  src/server/transport.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

refactor: Move test PowerShell scripts to scripts/tests folder
  scripts/tests/test-azure-mcp.ps1
  scripts/tests/test-mcp.ps1
  scripts/tests/test-pipeline.ps1
  scripts/tests/test-proxy.ps1
  scripts/tests/test-tools-list.ps1
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: Unify console logging to stdout for consistent Azure log colors
  src/index.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: Improve analyzeCodePatterns search with FTS5 and keyword extraction
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: Fix FTS5 query error in analyzeCodePatterns tool
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: Add D365FO file structure instructions to prevent wrong file placement
  src/prompts/systemInstructions.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

perf: Add major performance optimizations for SQLite and cache
  src/cache/redisCache.ts
  src/metadata/symbolIndex.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Anonymize Asl* model names with generic examples
  src/prompts/systemInstructions.ts
  src/utils/modelClassifier.ts
  tests/utils/modelClassifier.test.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

Fix test: use CustomAudit instead of AuditExtension
  tests/utils/modelClassifier.test.ts
Due: none

Fix test: rename FinanceExtension to CustomFinance for consistency
  tests/utils/modelClassifier.test.ts
Due: none

Fix test: update expected value for custom models to ensure consistency
  tests/utils/modelClassifier.test.ts
Due: none

fix: Add retry logic to health check to handle cold starts
  .github/workflows/deploy.yml
Due: none

feat: implement async initialization with readiness probe
  .github/workflows/deploy.yml
  src/index.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

docs: Add explicit rule to prefer MCP tools over Copilot search
  .github/copilot-instructions.md
  .github/workflows/deploy.yml
Due: none

fix: Prevent Copilot from using slow built-in search tools
  .github/copilot-instructions.md
  README.md
  src/database/download.ts
  src/index.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: Improve Copilot integration and fix code_completion parameter
  .github/copilot-instructions.md
  docs/ARCHITECTURE.md
  src/tools/xppTools.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: Add RULE #0 to prevent automatic workspace search after task completion
  .github/copilot-instructions.md
Due: none

perf: Use SQLite quick_check instead of integrity_check for faster startup
  src/database/download.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

fix: Add explicit instruction to stop immediately after answering
  .github/copilot-instructions.md
Due: none

feat: enforce mandatory MCP tool usage for X++ code generation
  .github/copilot-instructions.md
  src/prompts/systemInstructions.ts
  src/tools/codeGen.ts
  src/tools/completion.ts
  src/tools/xppTools.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: implement workspace-aware features
  README.md
  TODO_WORKSPACE.md
  docs/WORKSPACE_AWARE.md
  package-lock.json
  package.json
  src/index.ts
  src/resources/workspaceResource.ts
  src/server/mcpServer.ts
  src/tools/classInfo.ts
  src/tools/completion.ts
  src/tools/search.ts
  src/tools/xppTools.ts
  src/types/context.ts
  src/workspace/hybridSearch.ts
  src/workspace/workspaceScanner.ts
  src/workspace/workspaceUtils.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

docs: update copilot-instructions.md for workspace-aware features
  .github/copilot-instructions.md
Due: none

chore: remove TODO_WORKSPACE.md as features are implemented
  TODO_WORKSPACE.md
Due: none

feat: implement rich context in search tool
  TODO_OPTIMIZATION.md
  src/tools/search.ts
  src/utils/richContext.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

feat: implement smart caching with fuzzy matching (Priority 2)
  src/cache/cacheUtils.ts
  src/cache/redisCache.ts
  src/tools/search.ts
Due: .azure-pipelines/azure-pipelines.yml, .azure-pipelines/d365fo-mcp-data-build-custom.yml, .azure-pipelines/d365fo-mcp-data-quick.yml, .azure-pipelines/d365fo-mcp-data.yml

docs: update TODO_OPTIMIZATION with completed phases
  TODO_OPTIMIZATION.md
Due: none

docs: clean up TODO_OPTIMIZATION - remove completed strategies
  TODO_OPTIMIZATION.md
Due: none

Path conditions:
  .azure-pipelines/azure-pipelines.yml: any of: src, scripts, azure-pipelines.yml
  .azure-pipelines/d365fo-mcp-data-build-custom.yml: any of: src, .azure-pipelines/d365fo-mcp-data-quick.yml
  .azure-pipelines/d365fo-mcp-data-quick.yml: any of: src, .azure-pipelines/d365fo-mcp-data-quick.yml
  .azure-pipelines/d365fo-mcp-data.yml: any of: src, scripts, d365fo-mcp-data.yml
